<div class="row row-cols-sm-auto">
  <div class="col-12">
    <div class="dp-hidden position-absolute">
      <div class="input-group">
        <input name="datepicker"
               type="hidden"
               class="form-control"
               ngbDatepicker
               #datepicker="ngbDatepicker"
               [autoClose]="'outside'"
               (dateSelect)="onDateSelection($event)"
               [displayMonths]="2"
               [dayTemplate]="t"
               outsideDays="hidden"
               [startDate]="fromDate!"
               placement="auto"
               container="body"
               [positionTarget]="buttonEl"
               [footerTemplate]="footerTemplate"
               tabindex="-1" />
        <ng-template #t let-date let-focused="focused">
          <span class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>
      </div>
    </div>
    <div class="input-group">
      <input #dpFromDate
             type="hidden"
             class="form-control"
             placeholder="yyyy-mm-dd"
             name="dpFromDate" />
      <button #buttonEl class="btn rounded-circle app-gray-color border-0"
              (click)="datepicker.toggle()" type="button">
        <fa-icon [icon]="calendarIcon"></fa-icon>
      </button>
    </div>
  </div>
</div>
<ng-template #footerTemplate>
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-auto">
        <ngb-timepicker #tp1 name="timepickerFrom" [(ngModel)]="timeFrom" [meridian]="true"></ngb-timepicker>
      </div>
      <div class="col-auto">
        <ngb-timepicker #tp2 name="timepickerTo" [(ngModel)]="timeTo" [meridian]="true"></ngb-timepicker>
      </div>
    </div>
    <div class="row justify-content-start p-3">
      <button class="btn btn-primary" (click)="applyDatetime(buttonEl)">
        {{ 'general.apply' | translate }}
      </button>
    </div>
  </div>
</ng-template>
