<div class="row h-100 mx-6 mt-3">
  <div class="col-lg-2 col-md-4 col-sm-6 h-100 p-0 app-pe-4">
    <div class="card card-height border-0 p-4 bg-white rounded-3 shadow-sm">
      <h5>Learn how to add new User</h5>
      <div class="card-body">
        <app-temp-info></app-temp-info>
      </div>
    </div>
  </div>
  <div class="col-lg-10 col-md-8 col-sm-6 p-0">

    <div class="card bg-white border-0 rounded-3 shadow-sm card-height merchant-card p-4">





      <div class="card-title mb-4">
        {{ "user.user" | translate }}
      </div>



      <div class="card-body">
        <form [formGroup]="userForm" autocomplete="off" name="userForm">
          <div class="mb-4">




            <div class="row w-100 mb-3">
              <div class="col-6">
                <div class="form-floating mt-3 form-group input-form">
                  <input type="text" class="form-control rounded-pill app-gray-color border-0" formControlName="nameAr"
                    autocomplete="off" placeholder="{{ 'general.nameAr' | translate }}" />
                    <label  style="color: black;" for="nameAr">{{
                      'general.nameAr' | translate}}:</label>
                </div>
      

                <div class="text-danger" *ngIf="
                      userForm.get('nameAr')?.hasError('required') &&
                      (submitted || userForm.get('nameAr')?.touched)
                    ">
                  {{ "general.requiredField" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                      userForm.get('nameAr')?.hasError('maxlength') &&
                      userForm.get('nameAr')?.touched
                    ">
                  {{ "user.maxLengthNameError" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                      userForm.get('nameAr')?.hasError('minlength') &&
                      userForm.get('nameAr')?.touched
                    ">
                  {{ "user.minLengthNameError" | translate }}
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mt-3 form-group input-form">
                  <input type="text" class="form-control rounded-pill app-gray-color border-0" formControlName="nameEn"
                    autocomplete="off" placeholder="{{ 'general.nameEn' | translate }}" />
                    <label  style="color: black;" for="nameEn">{{
                      'general.nameEn' | translate}}:</label>
                </div>
                <div class="text-danger" *ngIf="
                      userForm.get('nameEn')?.hasError('required') &&
                      (submitted || userForm.get('nameEn')?.touched)
                    ">
                  {{ "general.requiredField" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                      userForm.get('nameEn')?.hasError('maxlength') &&
                      userForm.get('nameEn')?.touched
                    ">
                  {{ "user.maxLengthNameError" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                      userForm.get('nameEn')?.hasError('minlength') &&
                      userForm.get('nameEn')?.touched
                    ">
                  {{ "user.minLengthNameError" | translate }}
                </div>
              </div>
            </div>





            <div class="row w-100 mb-3">
              <div class="col-6">
                <div class="form-floating mt-3 form-group input-form">
                  <input type="text" class="form-control rounded-pill app-gray-color border-0"
                    formControlName="username" placeholder="{{
                        'user.username' | translate
                      }}" />
                      <label  style="color: black;" for="username">{{
                        'user.username'  | translate}}:</label>
                </div>
                <div class="text-danger" *ngIf="
                      userForm
                        .get('username')
                        ?.hasError('required') &&
                      (submitted ||
                        userForm.get('username')?.touched)
                    ">
                  {{ "general.requiredField" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                      userForm
                        .get('username')
                        ?.hasError('maxlength') &&
                      userForm.get('username')?.touched
                    ">
                  {{ "user.maxLengthUsernameError" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                      userForm
                        .get('username')
                        ?.hasError('minlength') &&
                    userForm.get('username')?.touched
                    ">
                  {{ "user.minLengthUsernameError" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    userForm
                      .get('username')
                      ?.hasError('pattern') &&
                    userForm.get('username')?.touched
                  ">
                  {{ "general.onlyUserAllowed" | translate }}
                </div>
              </div>

              <div class="col-6">
                <div class="form-floating mt-3 form-group input-form">
                  <input type="text" class="form-control rounded-pill app-gray-color border-0" formControlName="email"
                    placeholder="{{
                        'user.email' | translate
                      }}" />
                      <label  style="color: black;" for="email">{{
                        'user.email'  | translate}}:</label>
                </div>
                <div class="text-danger" *ngIf="
                      userForm
                        .get('email')
                        ?.hasError('required') &&
                      (submitted ||
                        userForm.get('email')?.touched)">
                  {{ "general.requiredField" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                      userForm
                        .get('email')
                        ?.hasError('maxlength') &&
                      userForm.get('email')?.touched
                    ">
                  {{ "user.maxRefError" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                      userForm
                        .get('email')
                        ?.hasError('minlength') &&
                    userForm.get('email')?.touched
                    ">
                  {{ "user.minRefError" | translate }}
                </div>
              </div>
            </div>




            <div class="row w-100  mb-3">
              <div  class="col-6">
                <div class="rounded-pill app-gray-color border-0 p-1 ps-2">
                  <div class="form-check form-check-inline ps-4" *ngFor="let key of statusKeys; let i = index">
                    <input class="form-check-input" type="radio" formControlName="status"
                      [checked]="userForm.get('status')?.value == key" [value]="key" />
                    <label class="form-check-label">
                      {{ "general." + status[+key] | lowercase | translate }}
                    </label>
                  </div>

                </div>
              </div>


              <div class="col-6">
                <div >
                  <div class="form-floating mt-3 form-group input-form">
                    <input type="password" class="form-control rounded-pill app-gray-color border-0"
                      formControlName="password" autocomplete="off"
                      placeholder="{{ 'general.password' | translate }}" />
                      <label  style="color: black;" for="password">{{
                        'general.password'  | translate}}:</label>
                  </div>
                  <div class="text-danger" *ngIf="
                    userForm.get('password')?.hasError('required') &&
                    (submitted || userForm.get('password')?.touched)
                  ">
                    {{ "general.requiredField" | translate }}
                  </div>
                  <div class="text-danger" *ngIf="
                    userForm.get('password')?.hasError('maxlength') &&
                    userForm.get('password')?.touched
                  ">
                    {{ "user.maxLengthPasswordError" | translate }}
                  </div>
                  <div class="text-danger" *ngIf="
                    userForm.get('password')?.hasError('minlength') &&
                    userForm.get('password')?.touched ">

                    {{ "user.minLengthPasswordError" | translate }}
                  </div>
                  <div class="text-danger" *ngIf="
                  userForm
                    .get('password')
                    ?.hasError('pattern') &&
                  userForm.get('password')?.touched
                  ">
                    {{ "general.onlyPasswordAllowed" | translate }}
                  </div>
                </div>
              </div>





              <div  class="row w-100  mb-3">
                
                  <div class="col-6"  *ngIf="isEditView  && !isHidden">
                    <div class="form-group input-form w-100">
                      <ng-select [items]="branches | async" bindLabel="id" bindValue="name" formControlName="branchId"
                        placeholder="{{ 'branch.branches' | translate }}" class="custom">
                      </ng-select>
                    </div>
                    <div class="text-danger" *ngIf="
                        userForm.get('branchId')?.hasError('required') &&
                      userForm.get('branchId')?.touched 
                      ">
                      {{ "general.requiredField" | translate }}
                    </div>
                  </div>
                  
                   </div>





                <div class="row w-100  mb-3">

                <div *ngIf="!isEditView" class="col-6">
                  <div class="rounded-pill app-gray-color border-0 p-1 ps-2">
                    <div class="form-check form-check-inline ps-4" *ngFor="let key of typeKeys; let i = index">
  
                      <input class="form-check-input" type="radio" formControlName="type"
                        [checked]="userForm.get('type')?.value == key" (change)="radioButtonChanged()" [value]="key" />
                      <label class="form-check-label">
                        {{ "general." + type[+key] | lowercase | translate }}
                      </label>
                    </div>
                  </div>
                </div>
              
                <div *ngIf="isEditedUserBranchAdmin">
                <div  class="col-6">
                  <div class="form-group input-form w-100">
                    <ng-select [items]="branches | async" bindLabel="id" bindValue="name" formControlName="branchId"
                      placeholder="{{ 'branch.branches' | translate }}" class="custom">
                    </ng-select>
                   
                  </div>
                  <div class="text-danger" *ngIf="
                   userForm.get('branchId')?.hasError('required') &&
                   userForm.get('branchId')?.touched
                       ">
                    {{ "general.requiredField" | translate }}
                  </div>
                </div>
              </div>
            

                <div *ngIf="!isEditView && !isHidden" class="col-6">
                  <div class="form-group input-form w-100">
                    <ng-select [items]="branches | async" bindLabel="id" bindValue="name" formControlName="branchId"
                      placeholder="{{ 'branch.branches' | translate }}" class="custom">
                    </ng-select>
                  </div>
                  <div class="text-danger" *ngIf="
                   userForm.get('branchId')?.hasError('required') &&
                   userForm.get('branchId')?.touched">
                    {{ "general.requiredField" | translate }}
                  </div>
                </div>



            </div>

                  </div>
          </div>
        </form>
      </div>
      <div class="card-footer border-0 bg-white">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center closing-container">
            <a class="btn btn-block btn-sm app-gray-color rounded-pill mx-3"
              [routerLink]="['/user/user-list',accountId,merchantId]">
              <span class="p-2">{{ "general.cancel" | translate }}</span>
            </a>
            <a class="btn btn-block btn-sm btn-search-bar text-white rounded-pill" (click)="onSave()">
              <span class="p-2">{{ "general.save" | translate }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>