<div class="d-flex filter-menu-padding">
    <div class="me-auto w-100">
      <form [formGroup]="filterForm">
        <div class="row w-100 m-0">
  
  
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p-0 app-pe-3">
            <div class="form-group input-form w-100">
              <span class="form-control-feedback">
                <app-grade-icon></app-grade-icon>
              </span>
              <ng-select [items]="terminals | async" bindLabel="name" bindValue="id" formControlName="selectedTerminal"
                placeholder="{{ 'terminal.terminals' | translate }}" (change)="onSave()" appendTo="body" class="custom">
              </ng-select>
            </div>
          </div>

          
        

          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p-0 app-pe-3">
            <div class="form-group input-form" >
              <ng-select formControlName="bulkuploadStatus" placeholder="{{ 'bulkupload.status' | translate }}" (change)="onSave()"
                appendTo="body" class="custom">
                <ng-option *ngFor="let status of bulkuploadStatusKeys " [value]="+status">
                  {{ 'bulkupload.'+bulkuploadStatus[+status] | lowercase | translate }}
                </ng-option>
              </ng-select>
            </div>
          </div>

          
          <div class="col-sm-auto p-0" id="time">
            <app-date-time-picker [isCleared]="$isCleared" (dateChange)="onDateChange($event)"></app-date-time-picker>
          </div>
          <div class="col-sm-auto p-0">
            <button type="button" class="btn rounded-pill mx-2 app-gray-color" (click)="emitClearFilter()">
              {{ 'general.clear' | translate }}
            </button>
          </div>
  
          
        </div>
      </form>
    </div>
  </div>
