<div class="row bg-white m-0 w-100">
  <div class="col-lg-12 col-md-12 col-sm-12 p-0 m-0">
    <app-invoice-nav-menu (filterInvoices)="applyInvoiceFilter($event)" 
    (exportInvoices)="exportInvoices($event)">
    </app-invoice-nav-menu>
  </div>
</div>

<div class="row mx-0" style="margin-top: 16px">
  <div class="mx-auto col-10 col-md-8 col-lg-4 rounded rounded-3 w-100 px-6">
    <div class="container-fluid rounded-3 bg-white p-3">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{{ "invoice.branchName" | translate }}</th>
              <th>{{ "invoice.terminalName" | translate }}</th>
              <th>{{ "invoice.invoiceNumber" | translate }}</th>
              <th>{{ "invoice.referenceId" | translate }}</th>
              <th>{{ "invoice.type" | translate }}</th>
              <th>{{ "invoice.reportingStatus" | translate }}</th>
              <th>{{ "invoice.totalAmount" | translate }}</th>
              <th>{{ "invoice.vatAmount" | translate }}</th>
              <th>{{ "invoice.subTotalAmount" | translate }}</th>
              <th>{{ "invoice.issueDateTime" | translate }}</th>
              <th>{{ "general.action" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let invoice of invoices">
              <td class="cell">{{ invoice.branchName }}</td>
              <td class="cell">{{ invoice.terminalName }}</td>
              <td class="cell">{{ invoice.invoiceNumber }}</td>
              <td class="cell">{{ invoice.referenceId }}</td>
              <td class="cell">
                {{ 'invoice.'+invoice.typeString | lowercase | translate }}
              </td>
              <td class="cell">
                <span class="p-2 rounded-3"
                  [ngClass]="{'message-pass': (invoice.reportingStatus === 1), 'message-warn': (invoice.reportingStatus === 2), 'message-error': (invoice.reportingStatus === 3)}">
                  {{ 'invoice.'+invoice.reportingStatusString | lowercase | translate }}
                </span>
              </td>
              <td class="cell">{{ invoice.totalAmount }}</td>
              <td class="cell">{{ invoice.vatAmount }}</td>
              <td class="cell">{{ invoice.subTotalAmount }}</td>
              <td class="cell">{{ invoice.issueDateTime | date: 'dd/MM/yyyy hh:mm:ss a' }}</td>
              <td class="cell">
                <div class="invo-group btn-group" role="group">
                  <button *ngIf="invoice.downloadPdf && (invoice.reportingStatus == 1 || invoice.reportingStatus == 2)"
                    type="button" class="btn btn-dark" (click)="getInvoicePdf(invoice)">
                    <fa-icon [icon]="pdfIcon"></fa-icon>
                    <fa-icon class="px-2" [icon]="downloadIcon"></fa-icon>
                  </button>
                  <button type="button" class="btn btn-dark" (click)="getInvoiceXml(invoice)">
                    <fa-icon [icon]="xmlIcon"></fa-icon>
                    <fa-icon class="px-2" [icon]="downloadIcon"></fa-icon>
                  </button>

                  <button type="button" class="btn btn-dark" (click)="viewInvoiceMessages(invoice.id)">
                    <fa-icon [icon]="messageIcon"></fa-icon>
                  </button>
                  <button type="button" class="btn btn-dark"
                    *ngIf="(invoice.reportingStatus == 1 || invoice.reportingStatus == 2)"
                    (click)="viewQrCode(invoice.id,invoice.invoiceNumber)">
                    <fa-icon [icon]="qrIcon"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <pagination class="justify-content-center" (pageChanged)="pageChanged($event)" [boundaryLinks]="true"
        [totalItems]="itemCount" [itemsPerPage]="paginatorPageSize" [(ngModel)]="paginatorPageNumber"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
        [maxSize]="this.tableMaxSize">
      </pagination>

    </div>
  </div>
</div>