<div class="row bg-white m-0 w-100">
    <div class="col-lg-12 col-md-12 col-sm-12 p-0 m-0">
      <app-account-nav-menu (filterAccounts)="applyAccountFilter($event)">
        </app-account-nav-menu>
    </div>
  </div>
  
  <div class="row mx-0" style="margin-top: 16px">
    <div class="mx-auto col-10 col-md-8 col-lg-4 rounded rounded-3 w-100 px-6">
      <div class="container-fluid rounded-3 bg-white p-3">
        <table class="table">
          <thead>
            <tr>
              <th>{{ "account.name" | translate }}</th>
              <th></th>
              <th>{{ "general.status" | translate }}</th>
              <th>{{ "general.action" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let account of accounts"
              (click)="viewAccount(account)"
            >
              <td class="cell">{{ account.name }}</td>
              <td class="cell">{{ account.adminPassword }}</td>
              
           
              <td class="cell">
                <span
                  class="p-2 rounded-3"
                  [ngClass]="account.status == 0 ? 'active-color' : 'inactive-color'"
                >
                  {{ "general." + account.statusString | lowercase | translate }}
                </span>
              </td>
              <td class="cell" (click)="preventCellClick($event)">
                <div class="dropdown">
                  <button
                    class="btn bg-transparent dropdown-toggle border-0 p-0"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <fa-icon [icon]="actionIcon" class="fa-lg"></fa-icon>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <button
                        class="btn dropdown-item"
                        (click)="updateAccount(account.id)"
                      >
                        <fa-icon [icon]="updateIcon" class="app-pe-2"></fa-icon>
                        <span>{{ "general.update" | translate }}</span>
                      </button>
                    </li>
                    <li>
                      <button
                        class="btn dropdown-item"
                        (click)="openDeleteConfirmationModal(account.id)"
                      >
                        <fa-icon [icon]="deleteIcon" class="app-pe-2"></fa-icon>
                        <span>{{ "general.delete" | translate }}</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination
          class="justify-content-center"
          (pageChanged)="pageChanged($event)"
          [boundaryLinks]="true"
          [totalItems]="itemCount"
          [itemsPerPage]="paginatorPageSize"
          [(ngModel)]="paginatorPageNumber"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
          [maxSize]="this.tableMaxSize"
        >
        </pagination>
      </div>
    </div>
  </div>
  
