.input-form .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
  .ng-select.custom .ng-select-container {
    border: 0;
    background-color: #F6F6F6 !important;
  }

  @media (max-width: 400px){
    .form-group  {
        margin-bottom: 15px;
    }
  }

  @media (max-width: 400px){
    .col-sm-auto  {
        margin-bottom: 15px;
    }
  }
  
  @media (max-width: 400px){
    button {
        margin-right: -20px;
    }
  }


  

  

 


  
  
  
  