<div class="d-flex filter-menu-padding">
    <div class="me-auto w-100">
      <form [formGroup]="filterForm">
        <div class="row w-100 m-0">
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 p-0 app-pe-3">
            <div class="form-group input-form">
              <span class="form-control-feedback">
                <fa-icon [icon]="searchIcon"></fa-icon>
              </span>
              <input type="text" class="form-control
                     rounded-pill
                     app-gray-color
                     border-0"
                     placeholder="{{ 'general.searchByRequestPath' | translate }}"
                     formControlName="RequestPath"
                     (keyup.enter)="onMonitorSearchbyRequestPath($event)">
            </div>
          </div>
          

          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 p-0 app-pe-3">
            <div class="form-group input-form">
              <ng-select [items]="requestVerbs"
              formControlName="HttpVerb"
              placeholder="{{ 'monitor.requestVerb' | translate }}"
              (change)="onSave()"
              appendTo="body"
              class="custom"
              bindValue="value">
             <ng-template ng-option-tmp ng-label-tmp let-item="item">
             {{ 'requestVerbs.'+item.value | translate }}
            </ng-template>
            </ng-select>
            </div>
          </div>


          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 p-0 app-pe-3">
            <div class="form-group input-form">
              <ng-select [items]="responseStatuses"
              formControlName="responseStatus"
              placeholder="{{ 'monitor.responseStatus' | translate }}"
              (change)="onSave()"
              appendTo="body"
              bindValue="value"
              class="custom">
             <ng-template ng-option-tmp ng-label-tmp let-item="item">
             {{ 'responseStatuses.'+item.value | translate }}
            </ng-template>
            </ng-select>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 p-0 app-pe-3">
            <div class="form-group input-form">
              <ng-select 
              formControlName="type"
              placeholder="{{ 'monitor.type' | translate }}"
              (change)="onSave()"
              appendTo="body"
              class="custom">
                <ng-option *ngFor="let type of monitorTypeKeys"
                [value]="+type">
                {{ 'monitor.'+monitorType[+type] | lowercase | translate }}
                </ng-option>
            </ng-select>
            </div>
          </div>


          <div class="col-sm-auto p-0">
            <app-date-time-picker [isCleared]="$isCleared" (dateChange)="onDateChange($event)"></app-date-time-picker>
          </div>

          <div class="col-lg-2 p-0">
            <button type="button"
                    class="btn rounded-pill mx-2 app-gray-color"
                    (click)="emitClearFilter()">
              {{ 'general.clear' | translate }}
            </button>
          </div>



        
    
          
      
        </div>
      </form>
    </div>
</div>