.card:active, .card:focus {
  border-color: blue;
}

.custom-scrollbar-css {
  overflow-y: auto;
}

  .custom-scrollbar-css::-webkit-scrollbar {
    width: 5px;
  }

  .custom-scrollbar-css::-webkit-scrollbar-track {
    background: #eee;
  }

  .custom-scrollbar-css::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: gray;
  }

.account-container {
  height: 55%;
}

.img-container {
  height: 85vh;
}

@media only screen and (max-height: 1500px) {
  .img-container {
    height: 100vh;
  }
}

::ng-deep .ng-select-container .ng-value-container {
  padding-left: 38px !important;
}

::ng-deep .ng-select-container:hover {
  box-shadow: none !important;
}

::ng-deep .ng-select-container {
  background-color: transparent !important;
  border: 0 !important;
  outline: none !important;
}

.input-form .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.25rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
@media only screen and (max-width: 990px) {
  .petro-icon {
    display: none;
  }
}
h2 {
  font-size: 26px;
  font-family: 'Airbnb Cereal App Medium';
}

.login-panel-Message {
  font-family: 'Airbnb Cereal App Bold';
  font-weight: 700;
  font-size: 32px;
}

