<div class="row bg-white m-0 w-100">
    <div class="col-lg-12 col-md-12 col-sm-12 p-0 m-0">
      <app-exported-invoices-nav-menu (filterExportedInvoices)="applyFilter($event)">
      </app-exported-invoices-nav-menu>
    </div>
  </div>
  
  <div class="row mx-0" style="margin-top: 16px">
    <div class="mx-auto col-10 col-md-8 col-lg-4 rounded rounded-3 w-100 px-6">
      <div class="container-fluid rounded-3 bg-white p-3">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>{{ "exportedInvoice.branchName" | translate }}</th>
                <th>{{ "exportedInvoice.terminalName" | translate }}</th>
                <th>{{ "exportedInvoice.exportedBy" | translate }}</th>
                <th>{{ "exportedInvoice.createDate" | translate }}</th>
                <th>{{ "general.status" | translate }}</th>
                <th>{{ "general.download" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let export of exportedInvoices">
                <td class="cell">{{ export.branchName }}</td>
                <td class="cell">{{ export.terminalName }}</td>
                <td class="cell">{{ export.username }}</td>
                <td class="cell">{{ export.createDate | date: 'dd/MM/yyyy hh:mm:ss a' }}</td>
                <td class="cell">
                  <span class="p-2 rounded-3"
                    [ngClass]="{'export-pending': (export.status === 0), 'export-ready': (export.status === 1), 'export-failed': (export.status === 2)}">
                    {{ 'exportedInvoice.'+export.statusString | translate }}
                  </span>
                </td>
                <td class="cell">
                  <div class="invo-group btn-group" role="group" *ngIf="export.status == 1">
                    <button type="button" class="btn btn-dark"
                      (click)="downloadExcel(export.id)">
                      <fa-icon [icon]="excelIcon"></fa-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <pagination class="justify-content-center" (pageChanged)="pageChanged($event)" [boundaryLinks]="true"
          [totalItems]="itemCount" [itemsPerPage]="paginatorPageSize" [(ngModel)]="paginatorPageNumber"
          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
          [maxSize]="10">
        </pagination>
  
      </div>
    </div>
  </div>