.export-pending {
    background-color: rgb(255 127 0 / 12%);
    color: #ff5e00;
}

.export-ready {
    background-color: rgba(4, 134, 33, 0.1);
    color: #048621;
}

.export-failed {
    background-color: rgb(255 0 0 / 10%);
    color: #ff0000;
}
