<div class="modal-header p-4 pb-0">
    <h4 class="modal-title pull-left">{{ "invoiceMessage.messages" | translate }}</h4>
    <button type="button" class="btn-close rounded-circle app-gray-color" (click)="bsModalRef.hide()"
        aria-label="Close"></button>
</div>
<div class="modal-body p-4">
    <div class="row mx-0" style="margin-top: 16px">
        <div class="mx-auto col-10 col-md-8 col-lg-4 rounded rounded-3 w-100 px-6">
            <div class="container-fluid rounded-3 bg-white p-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{ "invoiceMessage.type" | translate }}</th>
                            <th>{{ "invoiceMessage.code" | translate }}</th>
                            <th>{{ "invoiceMessage.category" | translate }}</th>
                            <th>{{ "invoiceMessage.message" | translate }}</th>
                            <th>{{ "general.status" | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let message of currentData.data">
                            <td class="cell align-middle">{{ message.type }}</td>
                            <td class="cell align-middle">{{ message.code }}</td>
                            <td class="cell align-middle">{{ message.category }}</td>
                            <td class="cell align-middle">{{ message.message }}</td>
                            <td class="cell align-middle">
                                <span
                                  class="p-2 rounded-3"
                                  [ngClass]="{'message-pass': (message.status === 'PASS'), 'message-warn': (message.status === 'WARNING'), 'message-error': (message.status === 'ERROR')}"
                                >
                                {{ message.status }}
                                </span>
                              </td>
                        </tr>
                    </tbody>
                </table>


                <pagination class="justify-content-center" (pageChanged)="pageChanged($event)" [boundaryLinks]="true"
                    [totalItems]="currentData.totalCount" [itemsPerPage]="paginatorPageSize"
                    [(ngModel)]="paginatorPageNumber" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                    lastText="&raquo;" [maxSize]="5">
                </pagination>
            </div>
        </div>
    </div>
</div>