<div class="row bg-white m-0 w-100">
    <div class="col-lg-12 col-md-12 col-sm-12 p-0 m-0">
      <app-nav-monitor (filterMonitors)="applyMonitorFilter($event)">
      </app-nav-monitor>
    </div>
  </div>
  
  <div class="row mx-0" style="margin-top: 16px">
    <div class="mx-auto col-10 col-md-8 col-lg-4 rounded rounded-3 w-100 px-6">
      <div class="container-fluid rounded-3 bg-white p-3">
        <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
       
              <th>{{ "monitor.traceId" | translate }}</th>
              <th>{{ "monitor.requestVerb" | translate }}</th>
              <th>{{ "monitor.requestPath" | translate }}</th>
              <th>{{ "monitor.requestTimestamp" | translate }}</th>
              <th>{{ "monitor.responseStatus" | translate }}</th>
              <th>{{ "monitor.ip" | translate }}</th>
              <th>{{ "monitor.requestTimeMilliseconds" | translate }}</th>
              <th>{{ "monitor.type" | translate }}</th>
              <th></th>
        
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let monitor of monitors"
            >
              <td class="cell">{{ monitor.traceId}}</td>
              <td class="cell">{{ monitor.requestVerb}}</td>
              <td class="cell">{{ monitor.requestPath }}</td>
              <td class="cell">{{ monitor.requestTimestamp  | date: 'dd/MM/yyyy hh:mm:ss a'}}</td>
              <td class="cell">{{ monitor.responseStatus }}</td>
              <td class="cell">{{ monitor.ip }}</td>
              <td class="cell">{{ monitor.requestTimeMilliseconds }}</td>
              <td class="cell">{{ monitor.typeString}}</td>
              <td class="cell">
                <button
                class="btn btn-secondary"
                (click)="viewMonitor(monitor)">
              
                
                <span>{{ "general.show" | translate }}</span>
              </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
        <pagination     class="justify-content-center"  (pageChanged)="pageChanged($event)" [boundaryLinks]="true"
          [totalItems]="itemCount" [itemsPerPage]="paginatorPageSize" [(ngModel)]="paginatorPageNumber"
          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="this.tableMaxSize">
        </pagination>
      </div>
    </div>
  </div>
