<div class="row bg-white m-0 w-100">
    <div class="col-lg-12 col-md-12 col-sm-12 p-0 m-0">
      <app-point-records-nav-menu (filterPoints)="applyPointFilter($event)">
      </app-point-records-nav-menu>
    </div>
  </div>
  
  <div class="row mx-0" style="margin-top: 16px">
    <div class="mx-auto col-10 col-md-8 col-lg-4 rounded rounded-3 w-100 px-6">
      <div class="container-fluid rounded-3 bg-white p-3">
        <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{{ "balance.balance" | translate }}</th>
              <th>{{ "balance.pointDate" | translate }}</th>
              <th>{{ "balance.expiryDate" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let point of records">
              <td class="cell">{{ point.balance }}</td>
              <td class="cell">{{ point.pointsDate | date: 'dd/MM/yyyy' }}</td>
              <td class="cell">{{ point.expiryDate | date: 'dd/MM/yyyy' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
        <pagination class="justify-content-center table-responsive" (pageChanged)="pageChanged($event)" [boundaryLinks]="true"
          [totalItems]="itemCount" [itemsPerPage]="paginatorPageSize" [(ngModel)]="paginatorPageNumber"
          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="10">
        </pagination>
      </div>
    </div>
  </div>