<div class="row h-100 mx-6 mt-3">
    <div class="col-lg-2 col-md-4 col-sm-6 h-100 p-0 app-pe-4">
      <div class="card card-height border-0 p-4 bg-white rounded-3 shadow-sm">
        <h5>Learn how to add new Plan</h5>
        <div class="card-body"><app-temp-info></app-temp-info></div>
      </div>
    </div>
    <div class="col-lg-10 col-md-8 col-sm-6 p-0">
      
      <div
        class="card bg-white border-0 rounded-3 shadow-sm card-height merchant-card p-4"
      >
        <div class="card-title mb-4">
          {{ "plan.plan" | translate }}
        </div>
    
        
        <div class="card-body">
          <form [formGroup]="planForm" autocomplete="off">
            <div class="mb-4">
            
              <div class="row w-100 mb-3">
                <div class="col-6">
                  <div class="form-floating mt-3 form-group input-form">
                   
                    <input
                      type="text"
                      class="form-control rounded-pill app-gray-color border-0"
                      formCo ntrolName="name"
                      autocomplete="off"
                      placeholder="{{ 'general.name' | translate }}"
                    />
                    <label  style="color: black;" for="name">{{
                      'general.name' | translate}}:</label>
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm.get('name')?.hasError('required') &&
                      (submitted || planForm.get('name')?.touched)
                    "
                  >
                    {{ "general.requiredField" | translate }}
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm.get('name')?.hasError('maxlength') &&
                      planForm.get('name')?.touched
                    "
                  >
                    {{ "plan.maxLengthNameError" | translate }}
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm.get('name')?.hasError('minlength') &&
                      planForm.get('name')?.touched
                    "
                  >
                    {{ "plan.minLengthNameError" | translate }}
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating mt-3 form-group input-form">
                   
                    <input
                      type="text"
                      class="form-control rounded-pill app-gray-color border-0"
                      formControlName="price"
                      autocomplete="off"
                      placeholder="{{ 'general.price' | translate }}"
                    />
                    <label  style="color: black;" for="price">{{
                      'general.price' | translate}}:</label>
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm.get('price')?.hasError('required') &&
                      (submitted || planForm.get('price')?.touched)
                    "
                  >
                    {{ "general.requiredField" | translate }}
                </div>
                </div>
              </div>
  
           
  
              <div class="row w-100 mb-3">
                <div class="col-6">
                  <div class="form-floating mt-3 form-group input-form">
                    <input
                      type="number"
                      class="form-control rounded-pill app-gray-color border-0"
                      formControlName="numberOfInvoiceB2C"
                      placeholder="{{
                        'plan.numberOfInvoiceB2C' | translate
                      }}"
                    
                    />
                    <label  style="color: black;" for="numberOfInvoiceB2C">{{
                      'plan.numberOfInvoiceB2C' | translate}}:</label>
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfInvoiceB2C')
                        ?.hasError('required') &&
                      (submitted ||
                        planForm.get('numberOfInvoiceB2C')?.touched)
                    "
                  >
                    {{ "general.requiredField" | translate }}
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfInvoiceB2C')
                        ?.hasError('maxlength') &&
                      planForm.get('numberOfInvoiceB2C')?.touched
                    "
                  >
                    {{ "plan.maxNumberError" | translate }}
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfInvoiceB2C')
                        ?.hasError('minlength') &&
                    planForm.get('numberOfInvoiceB2C')?.touched
                    "
                  >
                    {{ "plan.minNumberError" | translate }}
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfInvoiceB2C')
                        ?.hasError('pattern') &&
                      planForm.get('numberOfInvoiceB2C')?.touched
                    "
                  >
                    {{ "general.onlyNumbersAllowed" | translate }}
                  </div>
                </div>


                <div class="col-6">
                  <div class="form-floating mt-3 form-group input-form">
                    <input
                      type="number"
                      class="form-control rounded-pill app-gray-color border-0"
                      formControlName="numberOfInvoiceB2B"
                      placeholder="{{
                        'plan.numberOfInvoiceB2B' | translate
                      }}"
                    />
                    <label  style="color: black;" for="numberOfInvoiceB2B">{{
                      'plan.numberOfInvoiceB2B' | translate}}:</label>
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfInvoiceB2B')
                        ?.hasError('required') &&
                      (submitted ||
                        planForm.get('numberOfInvoiceB2B')?.touched)
                    "
                  >
                    {{ "general.requiredField" | translate }}
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfInvoiceB2B')
                        ?.hasError('maxlength') &&
                      planForm.get('numberOfInvoiceB2B')?.touched
                    "
                  >
                    {{ "plan.maxNumberError" | translate }}
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfInvoiceB2B')
                        ?.hasError('minlength') &&
                    planForm.get('numberOfInvoiceB2B')?.touched
                    "
                  >
                    {{ "plan.minNumberError" | translate }}
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfInvoiceB2B')
                        ?.hasError('pattern') &&
                      planForm.get('numberOfInvoiceB2B')?.touched
                    "
                  >
                    {{ "general.onlyNumbersAllowed" | translate }}
                  </div>
                </div>
              </div>

              <div class="row w-100 mb-3">
                <div class="col-6">
                  <div class="form-floating mt-3 form-group input-form">
                    <input
                      type="number"
                      class="form-control rounded-pill app-gray-color border-0"
                      formControlName="numberOfUser"
                      placeholder="{{
                        'plan.numberOfUser' | translate
                      }}"
                    />
                    <label  style="color: black;" for="numberOfUser">{{
                      'plan.numberOfUser' | translate}}:</label>
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfUser')
                        ?.hasError('required') &&
                      (submitted ||
                        planForm.get('numberOfUser')?.touched)
                    "
                  >
                    {{ "general.requiredField" | translate }}
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfUser')
                        ?.hasError('maxlength') &&
                      planForm.get('numberOfUser')?.touched
                    "
                  >
                    {{ "plan.maxNumberError" | translate }}
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfUser')
                        ?.hasError('minlength') &&
                    planForm.get('numberOfUser')?.touched
                    "
                  >
                    {{ "plan.minNumberError" | translate }}
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfUser')
                        ?.hasError('pattern') &&
                      planForm.get('numberOfUser')?.touched
                    "
                  >
                    {{ "general.onlyNumbersAllowed" | translate }}
                  </div>
                </div>


                <div class="col-6">
                  <div class="form-floating mt-3 form-group input-form">
                    <input
                      type="number"
                      class="form-control rounded-pill app-gray-color border-0"
                      formControlName="numberOfSubMerchant"
                      placeholder="{{
                        'plan.numberOfSubMerchant' | translate
                      }}"
                    />
                    <label  style="color: black;" for="numberOfSubMerchant">{{
                      'plan.numberOfSubMerchant' | translate}}:</label>
                    
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfSubMerchant')
                        ?.hasError('required') &&
                      (submitted ||
                        planForm.get('numberOfSubMerchant')?.touched)
                    "
                  >
                    {{ "general.requiredField" | translate }}
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfSubMerchant')
                        ?.hasError('maxlength') &&
                      planForm.get('numberOfSubMerchant')?.touched
                    "
                  >
                    {{ "plan.maxNumberError" | translate }}
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfSubMerchant')
                        ?.hasError('minlength') &&
                    planForm.get('numberOfSubMerchant')?.touched
                    "
                  >
                    {{ "plan.minNumberError" | translate }}
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfSubMerchant')
                        ?.hasError('pattern') &&
                      planForm.get('numberOfSubMerchant')?.touched
                    "
                  >
                    {{ "general.onlyNumbersAllowed" | translate }}
                  </div>
                </div>
              </div>

              
              <div class="row w-100 mb-3">
                <div class="col-6">
                  <div class="form-floating mt-3 form-group input-form">
                    <input
                      type="number"
                      class="form-control rounded-pill app-gray-color border-0"
                      formControlName="numberOfBranch"
                      placeholder="{{
                        'plan.numberOfBranch' | translate
                      }}"
                    />
                    <label  style="color: black;" for="numberOfBranch">{{
                      'plan.numberOfBranch' | translate}}:</label>
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfBranch')
                        ?.hasError('required') &&
                      (submitted ||
                        planForm.get('numberOfBranch')?.touched)
                    "
                  >
                    {{ "general.requiredField" | translate }}
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfBranch')
                        ?.hasError('maxlength') &&
                      planForm.get('numberOfBranch')?.touched
                    "
                  >
                    {{ "plan.maxNumberError" | translate }}
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfBranch')
                        ?.hasError('minlength') &&
                    planForm.get('numberOfBranch')?.touched
                    "
                  >
                    {{ "plan.minNumberError" | translate }}
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfBranch')
                        ?.hasError('pattern') &&
                      planForm.get('numberOfBranch')?.touched
                    "
                  >
                    {{ "general.onlyNumbersAllowed" | translate }}
                  </div>
                </div>


                <div class="col-6">
                  <div class="form-floating mt-3 form-group input-form">
                    <input
                      type="number"
                      class="form-control rounded-pill app-gray-color border-0"
                      formControlName="numberOfTerminal"
                      placeholder="{{
                        'plan.numberOfTerminal' | translate
                      }}"
                    />
                    <label  style="color: black;" for="numberOfTerminal">{{
                      'plan.numberOfTerminal' | translate}}:</label>
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfTerminal')
                        ?.hasError('required') &&
                      (submitted ||
                        planForm.get('numberOfTerminal')?.touched)
                    "
                  >
                    {{ "general.requiredField" | translate }}
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfTerminal')
                        ?.hasError('maxlength') &&
                      planForm.get('numberOfTerminal')?.touched
                    "
                  >
                    {{ "plan.maxNumberError" | translate }}
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfTerminal')
                        ?.hasError('minlength') &&
                    planForm.get('numberOfTerminal')?.touched
                    "
                  >
                    {{ "plan.minNumberError" | translate }}
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      planForm
                        .get('numberOfTerminal')
                        ?.hasError('pattern') &&
                      planForm.get('numberOfTerminal')?.touched
                    "
                  >
                    {{ "general.onlyNumbersAllowed" | translate }}
                  </div>
                </div>
              </div>




      <div class="row w-100 mb-3">   
        
        
        <div class="col-6">
          <div class="form-floating mt-3 form-group input-form">
            <input
              type="date"
              class="form-control rounded-pill app-gray-color border-0"
              formControlName="expiryDate"
              placeholder="{{
                'plan.expiryDate' | translate
              }}"
            />
            <label  style="color: black;" for="expiryDate">{{
              'general.expiryDate' | translate}}:</label>
          </div>
          <div
            class="text-danger"
            *ngIf="
              planForm
                .get('expiryDate')
                ?.hasError('required') &&
              (submitted ||
                planForm.get('expiryDate')?.touched)
            "
          >
            {{ "general.requiredField" | translate }}
          </div>
          <div
            class="text-danger"
            *ngIf="
              planForm
                .get('expiryDate')
                ?.hasError('maxlength') &&
              planForm.get('expiryDate')?.touched
            "
          >
            {{ "plan.maxNumberError" | translate }}
          </div>
          <div
            class="text-danger"
            *ngIf="
              planForm
                .get('numberOfTerminal')
                ?.hasError('minlength') && 
            planForm.get('numberOfTerminal')?.touched
            "
          >
            {{ "plan.minNumberError" | translate }}
          </div>
     
        </div>
        <div *ngIf="isEditView" class="col-6">
          <div class="rounded-pill app-gray-color border-0 p-1 ps-2">
            <div
              class="form-check form-check-inline ps-4"
              *ngFor="let key of statusKeys; let i = index"
            >
              <input
                class="form-check-input"
                type="radio"
                formControlName="status"
                [checked]="planForm.get('status')?.value == key"
                [value]="key"
              />
              <label class="form-check-label">
                {{ "general." + status[+key] | lowercase | translate }}
              </label>
            </div>
  
          </div>
        </div>
      </div>
  
            
              
            </div>
          </form>
        </div>
        <div class="card-footer border-0 bg-white">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center closing-container">
              <a
                class="btn btn-block btn-sm app-gray-color rounded-pill mx-3"
                [routerLink]="['/plan/plan-list',accountId]"
              >
                <span class="p-2">{{ "general.cancel" | translate }}</span>
              </a>
              <a
                class="btn btn-block btn-sm btn-search-bar text-white rounded-pill"
                (click)="onSave()"
              >
                <span class="p-2">{{ "general.save" | translate }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
