<div class="row h-100 mx-6 mt-3">
  <div class="col-lg-2 col-md-4 col-sm-6 h-100 p-0 app-pe-4">
    <div class="card card-height border-0 p-4 bg-white rounded-3 shadow-sm">
      <h5>Learn how to add new Merchant</h5>
      <div class="card-body"><app-temp-info></app-temp-info></div>
    </div>
  </div>
  <div class="col-lg-10 col-md-8 col-sm-6 p-0">
    <div class="card bg-white border-0 rounded-3 shadow-sm card-height merchant-card p-4">
      <div class="card-title mb-4">
        {{ "merchant.merchant" | translate }}
      </div>
      <div class="card-body">
        <form [formGroup]="merchantForm" autocomplete="off">
          <div class="mb-4">
            <div class="row w-100 mb-3">
              <div class="col-6">
              <div class="row">
                <div  class="form-floating mt-3 form-group input-form">
                  <input type="text" class="form-control rounded-pill app-gray-color border-0" formControlName="nameAr"
                    autocomplete="off" placeholder="{{ 'general.nameAr' | translate }}" />
                    <label  style="color: black;" for="nameAr">{{
                      'general.nameAr' | translate}}:</label>
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm.get('nameAr')?.hasError('required') &&
                    (submitted || merchantForm.get('nameAr')?.touched)
                  ">
                  {{ "general.requiredField" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm.get('nameAr')?.hasError('maxlength') &&
                    merchantForm.get('nameAr')?.touched
                  ">
                  {{ "merchant.maxLengthNameError" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm.get('nameAr')?.hasError('minlength') &&
                    merchantForm.get('nameAr')?.touched
                  ">
                  {{ "merchant.minLengthNameError" | translate }}
                </div>
              </div>
              </div>
              <div class="col-6">
                <div  class="form-floating mt-3 form-group input-form">
                  <input type="text" class="form-control rounded-pill app-gray-color border-0" formControlName="nameEn"
                    autocomplete="off" placeholder="{{ 'general.nameEn' | translate }}" />
                    <label  style="color: black;" for="nameEn">{{
                      'general.nameEn' | translate}}:</label>
                </div>

                <div class="text-danger" *ngIf="
                    merchantForm.get('nameEn')?.hasError('required') &&
                    (submitted || merchantForm.get('nameEn')?.touched)
                  ">
                  {{ "general.requiredField" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm.get('nameEn')?.hasError('maxlength') &&
                    merchantForm.get('nameEn')?.touched
                  ">
                  {{ "merchant.maxLengthNameError" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm.get('nameEn')?.hasError('minlength') &&
                    merchantForm.get('nameEn')?.touched
                  ">
                  {{ "merchant.minLengthNameError" | translate }}
                </div>
              </div>
            </div>

            <div class="row w-100 mb-3">
              <div class="col-6">
                <div  class="form-floating mt-3 form-group input-form">
                  <input type="text" class="form-control rounded-pill app-gray-color border-0"
                    formControlName="businessCategoryAr" placeholder="{{
                      'merchant.businessCategoryAr' | translate
                    }}" />
                    <label  style="color: black;" for="businessCategoryAr">{{
                      'general.businessCategoryAr' | translate}}:</label>
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm
                      .get('businessCategoryAr')
                      ?.hasError('required') &&
                    (submitted ||
                      merchantForm.get('businessCategoryAr')?.touched)
                  ">
                  {{ "general.requiredField" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm
                      .get('businessCategoryAr')
                      ?.hasError('maxlength') &&
                    merchantForm.get('businessCategoryAr')?.touched
                  ">
                  {{ "merchant.maxLengthNameError" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm
                      .get('businessCategoryAr')
                      ?.hasError('minlength') &&
                    merchantForm.get('businessCategoryAr')?.touched
                  ">
                  {{ "merchant.minLengthNameError" | translate }}
                </div>
              </div>
              <div class="col-6">
                <div  class="form-floating mt-3 form-group input-form">
                  <input type="text" class="form-control rounded-pill app-gray-color border-0"
                    formControlName="businessCategoryEn" placeholder="{{
                      'merchant.businessCategoryEn' | translate
                    }}" />
                    <label  style="color: black;" for="businessCategoryEn">{{
                      'general.businessCategoryEn' | translate}}:</label>
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm
                      .get('businessCategoryEn')
                      ?.hasError('required') &&
                    (submitted ||
                      merchantForm.get('businessCategoryEn')?.touched)
                  ">
                  {{ "general.requiredField" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm
                      .get('businessCategoryEn')
                      ?.hasError('maxlength') &&
                    merchantForm.get('businessCategoryEn')?.touched
                  ">
                  {{ "merchant.maxLengthNameError" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm
                      .get('businessCategoryEn')
                      ?.hasError('minlength') &&
                    merchantForm.get('businessCategoryEn')?.touched
                  ">
                  {{ "merchant.minLengthNameError" | translate }}
                </div>
              </div>
            </div>

            <div class="row w-100 mb-3">
              <div class="col-6">
                <div  class="form-floating mt-3 form-group input-form">
                  <input type="text" class="form-control rounded-pill app-gray-color border-0"
                    formControlName="commerialRegisterationNumber" placeholder="{{
                      'merchant.commerialRegisterationNumber' | translate
                    }}" />
                    <label  style="color: black;" for="commerialRegisterationNumber">{{
                      'general.commerialRegisterationNumber' | translate}}:</label>
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm
                      .get('commerialRegisterationNumber')
                      ?.hasError('required') &&
                    (submitted ||
                      merchantForm.get('commerialRegisterationNumber')?.touched)
                  ">
                  {{ "general.requiredField" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm
                      .get('commerialRegisterationNumber')
                      ?.hasError('maxlength') &&
                    merchantForm.get('commerialRegisterationNumber')?.touched
                  ">
                  {{ "merchant.maxLengthCommercialRegisterError" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm
                      .get('commerialRegisterationNumber')
                      ?.hasError('minlength') &&
                    merchantForm.get('commerialRegisterationNumber')?.touched
                  ">
                  {{ "merchant.minLengthCommercialRegisterError" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm
                      .get('commerialRegisterationNumber')
                      ?.hasError('pattern') &&
                    merchantForm.get('commerialRegisterationNumber')?.touched
                  ">
                  {{ "general.onlyNumbersAllowed" | translate }}
                </div>
              </div>
              <div class="col-6">
                <div  class="form-floating mt-3 form-group input-form">
                  <input type="text" class="form-control rounded-pill app-gray-color border-0"
                    formControlName="vatRegistrationNumber" placeholder="{{
                      'merchant.vatRegistrationNumber' | translate
                    }}" />
                    <label  style="color: black;" for="vatRegistrationNumber">{{
                      'general.vatRegistrationNumber' | translate}}:</label>
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm
                      .get('vatRegistrationNumber')
                      ?.hasError('required') &&
                    (submitted ||
                      merchantForm.get('vatRegistrationNumber')?.touched)
                  ">
                  {{ "general.requiredField" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm
                      .get('vatRegistrationNumber')
                      ?.hasError('maxlength') &&
                    merchantForm.get('vatRegistrationNumber')?.touched
                  ">
                  {{ "merchant.maxLengthVatNumberError" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm
                      .get('vatRegistrationNumber')
                      ?.hasError('minlength') &&
                    merchantForm.get('vatRegistrationNumber')?.touched
                  ">
                  {{ "merchant.minLengthVatNumberError" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm
                      .get('vatRegistrationNumber')
                      ?.hasError('pattern') &&
                    merchantForm.get('vatRegistrationNumber')?.touched
                  ">
                  {{ "general.onlyNumbersAllowed" | translate }}
                </div>
              </div>
            </div>

            <div class="row w-100 mb-3">
              <div class="col-6">
                <div  class="form-floating mt-3 form-group input-form">
                  <input type="text" email class="form-control rounded-pill app-gray-color border-0"
                    formControlName="email" autocomplete="off" placeholder="{{ 'general.email' | translate }}" />
                    <label  style="color: black;" for="email">{{
                      'general.email' | translate}}:</label>
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm.get('email')?.hasError('required') &&
                    (submitted || merchantForm.get('email')?.touched)
                  ">
                  {{ "general.requiredField" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm.get('email')?.hasError('maxlength') &&
                    merchantForm.get('email')?.touched
                  ">
                  {{ "merchant.maxLengthNameError" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm.get('email')?.hasError('minlength') &&
                    merchantForm.get('email')?.touched
                  ">
                  {{ "merchant.minLengthNameError" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm.get('email')?.hasError('email') &&
                    merchantForm.get('email')?.touched
                  ">
                  {{ "merchant.invalidEmailError" | translate }}
                </div>
              </div>
              <div class="col-6">
                <div  class="form-floating mt-3 form-group input-form">
                  <input type="text" class="form-control rounded-pill app-gray-color border-0"
                    formControlName="groupTIN" autocomplete="off" placeholder="{{ 'general.groupTIN' | translate }}" />
                    <label  style="color: black;" for="groupTIN">{{
                      'general.groupTIN' | translate}}:</label>
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm.get('groupTIN')?.hasError('maxlength') &&
                    merchantForm.get('groupTIN')?.touched
                  ">
                  {{ "merchant.maxLengthgroupTIN" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm.get('groupTIN')?.hasError('minlength') &&
                    merchantForm.get('groupTIN')?.touched
                  ">
                  {{ "merchant.minLengthgroupTIN" | translate }}
                </div>
              </div>
    
            
            </div>

            <div class="row w-100 mb-3">
              <div  *ngIf="isEditView" class="col-lg-6">
                <div  class="form-floating mt-3 form-group input-form">
                  <span class="form-control input-height rounded-pill app-gray-color border-0 text-start">
                    {{clientId}}
                    <button class="btn rounded-circle app-gray-color border-0" (click)="copyContent()">
                      <fa-icon class="px-2" [icon]="copyIcon"></fa-icon>
                    </button>
                  </span>
                  <label  style="color: black;" for="clientId">{{
                    'general.clientId' | translate}}:</label>
                </div>
              </div>
              <div class="col-6" *ngIf="isEditView">
                <div  class="form-floating mt-3 form-group input-form">
                  <span class="form-control input-height rounded-pill app-gray-color border-0 text-start">
                    {{clientSecret}}
                    <button class="btn rounded-circle app-gray-color border-0" (click)="copyContentt()">
                      <fa-icon class="px-2"  [icon]="copyIcon"></fa-icon>
                    </button>
                  </span>
                  <label  style="color: black;" for="clientSecret">{{
                    'general.clientSecret' | translate}}:</label>
                </div>
              </div>
            </div>

            <div class="row w-100 mb-3">
              <div class="col-6">
                <div class="form-group input-form rounded-pill app-gray-color pe-2 mx-0">
                  <div class="p-1 ps-2">
                    <div class="form-check form-switch">
                      <label  style="color: black;" for="createPdf">{{
                        'merchant.createPdf' | translate}}:</label>
                 
                      <input class="form-check-input" type="checkbox" role="switch" id="createPdfSwitch"
                        formControlName="createPdf">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="rounded-pill app-gray-color border-0 p-2 ps-2">
                  <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" formControlName="canIssueSimplifiedInvoice"
                      [checked]="
                        merchantForm.get('canIssueSimplifiedInvoice')?.value ==
                        1
                      " />
                    <label class="form-check-label px-2">
                      {{ "merchant.canIssueSimplifiedInvoice" | translate }}
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" formControlName="canIssueStandardInvoice" [checked]="
                        merchantForm.get('canIssueStandardInvoice')?.value == 1
                      " />
                    <label class="form-check-label px-2">
                      {{ "merchant.canIssueStandardInvoice" | translate }}
                    </label>
                  </div>
                </div>
              </div>
            
        

            </div>

  

            <div class="row w-100 mb-3">

              <div class="col-6" *ngIf="!isEditView">
                <div class="form-group input-form w-100">
                  <ng-select [items]="plans | async" bindLabel="id" bindValue="name" formControlName="planId"
                    placeholder="{{ 'merchant.plans' | translate }}" class="custom">
                  </ng-select>
                </div>
                <div class="text-danger" *ngIf="
                    merchantForm.get('planId')?.hasError('required') &&
                    merchantForm.get('planId')?.touched">
                  {{ "general.requiredField" | translate }}
                </div>
              </div>
              <div class="col-6">
                <div class="form-group input-form rounded-pill app-gray-color pe-2 mx-0">
                  <div class="p-1 ps-2">
                    <div class="form-check form-switch">
                      <label class="form-check-label" for="balanceEnabledSwitch">
                        {{ 'merchant.balanceEnabled' | translate }}
                      </label>
                      <input class="form-check-input" type="checkbox" role="switch" id="balanceEnabledSwitch"
                        formControlName="balanceEnabled">
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="isEditView" class="col-6">
                <div class="rounded-pill app-gray-color border-0 p-1 ps-2">
                  <div class="form-check form-check-inline ps-4" *ngFor="let key of statusKeys; let i = index">
                    <input class="form-check-input" type="radio" formControlName="status"
                      [checked]="merchantForm.get('status')?.value == key" [value]="key" />
                    <label class="form-check-label">
                      {{ "general." + status[+key] | lowercase | translate }}
                    </label>
                  </div>
                </div>
              </div>
              
              
          
  
            </div>


      

          </div>
        </form>
      </div>
      <div class="card-footer border-0 bg-white">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center closing-container">
            <a class="btn btn-block btn-sm app-gray-color rounded-pill mx-3"
              [routerLink]="['/merchant/merchant-list', accountId]">
              <span class="p-2">{{ "general.cancel" | translate }}</span>
            </a>
            <a class="btn btn-block btn-sm btn-search-bar text-white rounded-pill" (click)="onSave()">
              <span class="p-2">{{ "general.save" | translate }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>