<div class="row h-100 mx-6 mt-3">
  <div class="col-lg-2 col-md-4 col-sm-6 h-100 p-0 app-pe-4">
    <div class="card card-height border-0 p-4 bg-white rounded-3 shadow-sm">
      <h5>Learn how to add new Account</h5>
      <div class="card-body"><app-temp-info></app-temp-info></div>
    </div>
  </div>
  <div    class="col-lg-10 col-md-8 col-sm-6 p-0">
    <div class="card bg-white border-0 rounded-3 shadow-sm card-height merchant-card p-4">
      <div class="card-title mb-4">
        {{ "account.account" | translate }}
      </div>
      <div class="card-body">
        <form [formGroup]="accountForm" autocomplete="off">
          <div class="mb-4">
            <div class="row w-100 mb-3">
              <div class="col-6">
                <div class="form-floating mt-3 form-group input-form">
                  <input type="text" class="form-control rounded-pill app-gray-color border-0" formControlName="name"
                    autocomplete="off" placeholder="{{'general.name' | translate }}" />
                  <label style="color:black;" for="name">{{'general.name' | translate}}:</label>
                </div>
                <div class="text-danger" *ngIf="
                    accountForm.get('name')?.hasError('required') &&
                    (submitted || accountForm.get('name')?.touched)">
                  {{ "general.requiredField" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    accountForm.get('name')?.hasError('maxlength') &&
                    accountForm.get('name')?.touched">
                  {{ "account.maxLengthNameError" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    accountForm.get('name')?.hasError('minlength') &&
                    accountForm.get('name')?.touched">
                  {{ "account.minLengthNameError" | translate }}
                </div>
              </div>

              <div *ngIf="isEditView" class="col-lg-6">
                <div class="form-floating mt-3 form-group input-form">
                  <span class="form-control input-height rounded-pill app-gray-color border-0 text-start">
                    {{clientId}}
                    <button class="btn rounded-circle app-gray-color border-0" (click)="copyContent()">
                      <fa-icon class="px-2" [icon]="copyIcon"></fa-icon>
                    </button>
                  </span>
                  <label style="color:black;" for="clientId">{{'general.clientId' | translate}}:</label>
                </div>
              </div>






              <div *ngIf="!isEditView" class="col-6">
                <div class="form-floating mt-3 form-group input-form">
                  <input type="password" class="form-control rounded-pill app-gray-color border-0"
                    formControlName="adminPassword" autocomplete="off"
                    placeholder="{{ 'general.adminPassword' | translate }}" />
                  <label style="color:black;" for="adminPassword">{{
                    'general.adminPassword' | translate}}:</label>
                </div>
                <div class="text-danger" *ngIf="
                    accountForm.get('adminPassword')?.hasError('required') &&
                    (submitted || accountForm.get('adminPassword')?.touched)
                  ">
                  {{ "general.requiredField" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    accountForm.get('adminPassword')?.hasError('maxlength') &&
                    accountForm.get('adminPassword')?.touched
                  ">
                  {{ "account.maxLengthPasswordError" | translate }}
                </div>
                <div class="text-danger" *ngIf="
                    accountForm.get('adminPassword')?.hasError('minlength') &&
                    accountForm.get('adminPassword')?.touched
                  ">
                  {{ "account.minLengthPasswordError" | translate }}
                </div>
              </div>
            </div>


            <div class="row w-100 mb-3">

              <div *ngIf="isEditView" class="col-lg-6">
                <div class="form-floating mt-3 form-group input-form">
                  <span class="form-control input-height rounded-pill app-gray-color border-0 text-start">
                    {{clientSecret}}
                    <button class="btn rounded-circle app-gray-color border-0" (click)="copyContentt()">
                      <fa-icon class="px-2" [icon]="copyIcon"></fa-icon>
                    </button>
                  </span>
                  <label  style="color:black;" for="clientSecret">{{
                    'general.clientSecret' | translate}}:</label>
                </div>
              </div>


            </div>






          </div>
        </form>
      </div>
      <div class="card-footer border-0 bg-white">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center closing-container">
            <a class="btn btn-block btn-sm app-gray-color rounded-pill mx-3"
              [routerLink]="['/account/account-list', accountId]">
              <span class="p-2">{{ "general.cancel" | translate }}</span>
            </a>
            <a class="btn btn-block btn-sm btn-search-bar text-white rounded-pill" (click)="onSave()">
              <span class="p-2">{{ "general.save" | translate }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>