<app-nav-menu></app-nav-menu>
<div class="container-fluid p-0 overflow-hidden">
    <div class="row h-100">
      <div class="col-lg-12 col-md-12 col-sm-12 w-100">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>