<div class="row h-100 mx-6 mt-3">
  <div class="col-lg-2 col-md-4 col-sm-6 h-100 p-0 app-pe-4">
    <div class="card card-height border-0 p-4 bg-white rounded-3 shadow-sm">
      <h5>Learn how to add new Branch</h5>
      <div class="card-body"><app-temp-info></app-temp-info></div>
    </div>
  </div>
  
  <div class="col-lg-10 col-md-8 col-sm-6 p-0">
    <div
      class="card bg-white border-0 rounded-3 shadow-sm card-height merchant-card p-4"
    >
      <div class="card-title mb-4">
        {{ "branch.branch" | translate }}
      </div>
      <div class="card-body">
        <form [formGroup]="branchForm" autocomplete="off">
          <div class="mb-4">
            <div class="row w-100 mb-3">
              <div class="col-6">
                <div class="form-floating mt-3 form-group input-form">
                  <input
                    type="text"
                    class="form-control rounded-pill app-gray-color border-0"
                    formControlName="nameAr"
                    autocomplete="off"
                    placeholder="{{ 'general.nameAr' | translate }}"
                  />
                  <label  style="color: black;" for="nameAr">{{
                    'general.nameAr' | translate}}:</label>
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm.get('nameAr')?.hasError('required') &&
                    (submitted || branchForm.get('nameAr')?.touched)
                  "
                >
                  {{ "general.requiredField" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm.get('nameAr')?.hasError('maxlength') &&
                    branchForm.get('nameAr')?.touched
                  "
                >
                  {{ "branch.maxLengthNameError" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm.get('nameAr')?.hasError('minlength') &&
                    branchForm.get('nameAr')?.touched
                  "
                >
                  {{ "branch.minLengthNameError" | translate }}
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mt-3 form-group input-form">
                  <input
                    type="text"
                    class="form-control rounded-pill app-gray-color border-0"
                    formControlName="nameEn"
                    autocomplete="off"
                    placeholder="{{ 'general.nameEn' | translate }}"
                  />
                  <label  style="color: black;" for="nameEn">{{
                    'general.nameEn' | translate}}:</label>
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm.get('nameEn')?.hasError('required') &&
                    (submitted || branchForm.get('nameEn')?.touched)
                  "
                >
                  {{ "general.requiredField" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm.get('nameEn')?.hasError('maxlength') &&
                    branchForm.get('nameEn')?.touched
                  "
                >
                  {{ "branch.maxLengthNameError" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm.get('nameEn')?.hasError('minlength') &&
                    branchForm.get('nameEn')?.touched
                  "
                >
                  {{ "branch.minLengthNameError" | translate }}
                </div>
              </div>
            </div>




            <div class="row w-100 mb-3">
              <div class="col-6">
                <div class="form-floating mt-3 form-group input-form">
                  <input
                    type="text"
                    class="form-control rounded-pill app-gray-color border-0"
                    formControlName="city"
                    placeholder="{{
                      'branch.city' | translate
                    }}"
                  />
                  <label  style="color: black;" for="city">{{
                    'general.city' | translate}}:</label>
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('city')
                      ?.hasError('required') &&
                    (submitted ||
                      branchForm.get('city')?.touched)
                  "
                >
                  {{ "general.requiredField" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('city')
                      ?.hasError('maxlength') &&
                    branchForm.get('city')?.touched
                  "
                >
                  {{ "branch.maxLengthNameError" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('city')
                      ?.hasError('minlength') &&
                    branchForm.get('city')?.touched
                  "
                >
                  {{ "branch.minLengthNameError" | translate }}
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mt-3 form-group input-form">
                  <input
                    type="text"
                    class="form-control rounded-pill app-gray-color border-0"
                    formControlName="buildingName"
                    placeholder="{{
                      'branch.buildingName' | translate
                    }}"
                  />
                  <label  style="color: black;" for="buildingName">{{
                    'general.buildingName' | translate}}:</label>
                  
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('buildingName')
                      ?.hasError('required') &&
                    (submitted ||
                      branchForm.get('buildingName')?.touched)
                  "
                >
                  {{ "general.requiredField" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('branch')
                      ?.hasError('maxlength') &&
                    branchForm.get('buildingName')?.touched
                  "
                >
                  {{ "branch.maxLengthBuildingNameError" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('buildingName')
                      ?.hasError('minlength') &&
                    branchForm.get('buildingName')?.touched
                  "
                >
                  {{ "branch.minLengthBuildingNameError" | translate }}
                </div>
              </div>
            </div>


            <div class="row w-100 mb-3">
              <div class="col-6">
                <div class="form-floating mt-3 form-group input-form">
                  <input
                    type="text"
                    class="form-control rounded-pill app-gray-color border-0"
                    formControlName="streetName"
                    placeholder="{{
                      'branch.streetName' | translate
                    }}"
                  />
                  <label  style="color: black;" for="streetName">{{
                    'general.streetName' | translate}}:</label>
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('streetName')
                      ?.hasError('required') &&
                    (submitted ||
                      branchForm.get('streetName')?.touched)
                  "
                >
                  {{ "general.requiredField" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('streetName')
                      ?.hasError('maxlength') &&
                    branchForm.get('streetName')?.touched
                  "
                >
                  {{ "branch.maxLengthStreetNameError" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('streetName')
                      ?.hasError('minlength') &&
                    branchForm.get('streetName')?.touched
                  "
                >
                  {{ "branch.minLengthStreetNameError" | translate }}
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mt-3 form-group input-form">
                  <input
                    type="text"
                    class="form-control rounded-pill app-gray-color border-0"
                    formControlName="additionalNumber"
                    placeholder="{{
                      'branch.additionalNumber' | translate
                    }}"
                  />
                  <label  style="color: black;" for="additionalNumber">{{
                    'general.additionalNumber' | translate}}:</label>
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('additionalNumber')
                      ?.hasError('required') &&
                    (submitted ||
                      branchForm.get('additionalNumber')?.touched)
                  "
                >
                  {{ "general.requiredField" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('additionalNumber')
                      ?.hasError('maxlength') &&
                    branchForm.get('additionalNumber')?.touched
                  "
                >
                  {{ "branch.maxLengthAddNumberError" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('additionalNumber')
                      ?.hasError('minlength') &&
                    branchForm.get('additionalNumber')?.touched
                  "
                >
                  {{ "branch.minLengthAddNumberError" | translate }}
                </div>
              </div>
            </div>


            <div class="row w-100 mb-3">
              <div class="col-6">
                <div class="form-floating mt-3 form-group input-form">
                  <input
                    type="text"
                    class="form-control rounded-pill app-gray-color border-0"
                    formControlName="citySubDivision"
                    placeholder="{{
                      'branch.citySubDivision' | translate
                    }}"
                  />
                  <label  style="color: black;" for="citySubDivision">{{
                    'general.citySubDivision' | translate}}:</label>
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('citySubDivision')
                      ?.hasError('required') &&
                    (submitted ||
                      branchForm.get('citySubDivision')?.touched)
                  "
                >
                  {{ "general.requiredField" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('citySubDivision')
                      ?.hasError('maxlength') &&
                    branchForm.get('citySubDivision')?.touched
                  "
                >
                  {{ "branch.maxLengthNameError" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('citySubDivision')
                      ?.hasError('minlength') &&
                    branchForm.get('citySubDivision')?.touched
                  "
                >
                  {{ "branch.minLengthNameError" | translate }}
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mt-3 form-group input-form">
                  <input
                    type="text"
                    class="form-control rounded-pill app-gray-color border-0"
                    formControlName="countrySubentity"
                    placeholder="{{
                      'branch.countrySubentity' | translate
                    }}"
                  />
                  <label  style="color: black;" for="countrySubentity">{{
                    'general.countrySubentity' | translate}}:</label>
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('countrySubentity')
                      ?.hasError('required') &&
                    (submitted ||
                      branchForm.get('countrySubentity')?.touched)
                  "
                >
                  {{ "general.requiredField" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('countrySubentity')
                      ?.hasError('maxlength') &&
                    branchForm.get('countrySubentity')?.touched
                  "
                >
                  {{ "branch.maxLengthNameError" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('countrySubentity')
                      ?.hasError('minlength') &&
                    branchForm.get('countrySubentity')?.touched
                  "
                >
                  {{ "branch.minLengthNameError" | translate }}
                </div>
              </div>
            </div>
          


            <div class="row w-100 mb-3">
              <div class="col-6">
                <div class="form-floating mt-3 form-group input-form">
                  <input
                    type="text"
                    class="form-control rounded-pill app-gray-color border-0"
                    formControlName="number"
                    placeholder="{{
                      'branch.number' | translate
                    }}"
                  />
                  <label  style="color: black;" for="number">{{
                    'general.number' | translate}}:</label>
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                  branchForm
                      .get('number')
                      ?.hasError('required') &&
                    (submitted ||
                      branchForm.get('number')?.touched)
                  "
                >
                  {{ "general.requiredField" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('number')
                      ?.hasError('maxlength') &&
                    branchForm.get('number')?.touched
                  "
                >
                  {{ "branch.maxNumberError" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('number')
                      ?.hasError('minlength') &&
                    branchForm.get('number')?.touched
                  "
                >
                  {{ "branch.minNumberError" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('number')
                      ?.hasError('pattern') &&
                    branchForm.get('number')?.touched
                  "
                >
                  {{ "general.onlyNumbersAllowed" | translate }}
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mt-3 form-group input-form">
                  <input
                    type="text"
                    class="form-control rounded-pill app-gray-color border-0"
                    formControlName="buildingNumber"
                    placeholder="{{
                      'branch.buildingNumber' | translate
                    }}"
                  />
                  <label  style="color: black;" for="buildingNumber">{{
                    'general.buildingNumber' | translate}}:</label>
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('buildingNumber')
                      ?.hasError('required') &&
                    (submitted ||
                      branchForm.get('buildingNumber')?.touched)
                  "
                >
                  {{ "general.requiredField" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('buildingNumber')
                      ?.hasError('maxlength') &&
                    branchForm.get('buildingNumber')?.touched
                  "
                >
                  {{ "branch.maxLengthBuildingNumberError" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('buildingNumber')
                      ?.hasError('minlength') &&
                    branchForm.get('buildingNumber')?.touched
                  "
                >
                  {{ "branch.minLengthBuildingNumberError" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('buildingNumber')
                      ?.hasError('pattern') &&
                    branchForm.get('buildingNumber')?.touched
                  "
                >
                  {{ "general.onlyNumbersAllowed" | translate }}
                </div>
              </div>
            </div>

            <div class="row w-100 mb-3">
              <div class="col-6">
            

                <div class="form-floating mt-3 form-group input-form">
                  <input
                    type="text"
                    class="form-control rounded-pill app-gray-color border-0"
                    formControlName="zipCode"
                    placeholder="{{
                      'branch.zipCode' | translate
                    }}"
                  />

                  <label  style="color: black;" for="zipCode">{{
                    'general.zipCode' | translate}}:</label>
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('zipCode')
                      ?.hasError('required') &&
                    (submitted ||
                      branchForm.get('zipCode')?.touched)
                  "
                >
                  {{ "general.requiredField" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('zipCode')
                      ?.hasError('maxlength') &&
                    branchForm.get('zipCode')?.touched
                  "
                >
                  {{ "branch.maxLengthZipCodeError" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('zipCode')
                      ?.hasError('minlength') &&
                    branchForm.get('zipCode')?.touched
                  "
                >
                  {{ "branch.minLengthZipCodeError" | translate }}
                </div>
            

              </div>

              <div class="col-6">
            

                <div class="form-floating mt-3 form-group input-form">
                  <input
                    type="text"
                    class="form-control rounded-pill app-gray-color border-0"
                    formControlName="reference"
                    placeholder="{{
                      'branch.reference' | translate
                    }}"
                  />
                  <label  style="color: black;" for="reference">{{
                    'general.reference' | translate}}:</label>
                </div>
           
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('reference')
                      ?.hasError('maxlength') &&
                    branchForm.get('reference')?.touched
                  "
                >
                  {{ "branch.maxRefError" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    branchForm
                      .get('reference')
                      ?.hasError('minlength') &&
                    branchForm.get('reference')?.touched
                  "
                >
                  {{ "branch.minRefError" | translate }}
                </div>
            

              </div>
            </div>

            <div class="row w-100 mb-3">

            <div class="col-6">
            

              <div class="form-floating mt-3 form-group input-form">
                <input
                  type="text"
                  class="form-control rounded-pill app-gray-color border-0"
                  formControlName="saudiNationalAddress"
                  placeholder="{{
                    'branch.saudiNationalAddress' | translate
                  }}"
                />
                <label  style="color: black;" for="reference">{{
                  'general.saudiNationalAddress' | translate}}:</label>
              </div>
         
              <div
                class="text-danger"
                *ngIf="
                  branchForm
                    .get('saudiNationalAddress')
                    ?.hasError('maxlength') &&
                  branchForm.get('saudiNationalAddress')?.touched
                "
              >
                {{ "branch.maxNatError" | translate }}
              </div>
              <div
                class="text-danger"
                *ngIf="
                  branchForm
                    .get('saudiNationalAddress')
                    ?.hasError('minlength') &&
                  branchForm.get('saudiNationalAddress')?.touched
                "
              >
                {{ "branch.minNatError" | translate }}
              </div>
            </div>

            <div *ngIf="isEditView" class="col-6">
              <div class="rounded-pill app-gray-color border-0 p-1 ps-2">
                <div
                  class="form-check form-check-inline ps-4"
                  *ngFor="let key of statusKeys; let i = index"
                >
                  <input
                    class="form-check-input"
                    type="radio"
                    formControlName="status"
                    [checked]="branchForm.get('status')?.value == key"
                    [value]="key"
                  />
                  <label class="form-check-label">
                    {{ "general." + status[+key] | lowercase | translate }}
                  </label>
                </div>
              </div>
            </div>
          </div>



          </div>
        </form>
      </div>
      <div class="card-footer border-0 bg-white">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center closing-container">
            <a
              class="btn btn-block btn-sm app-gray-color rounded-pill mx-3"
              [routerLink]="['/branch/branch-list',accountId,merchantId]"
            >
              <span class="p-2">{{ "general.cancel" | translate }}</span>
            </a>
            <a
              class="btn btn-block btn-sm btn-search-bar text-white rounded-pill"
              (click)="onSave()"
            >
              <span class="p-2">{{ "general.save" | translate }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
