<div class="row bg-white m-0 w-100">
    <div class="col-lg-12 col-md-12 col-sm-12 p-0 m-0">
      <app-nav-echarts (filterEcharts)="applyEchartFilter($event)">
      </app-nav-echarts>
    </div>
  </div>
  <div class="row mx-0" style="margin-top: 16px;" >
    <div class=" rounded rounded-3 w-100 px-3" >
      <div class="row justify-content-center"  >
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pe-0 me-2">
        <div class="card">
          <div class="card-body"> 
            <i class="bi bi-building-fill" ></i>
            <h5 class="card-title">{{ "echarts.branchcount" | translate }}</h5>
              {{dataItem.branchCount| number: '2.1-2'}}
          </div>
        </div>
         </div>
        
       <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pe-0  me-2">
        <div class="card">
          <div class="card-body">
            <i class="bi bi-terminal-fill"></i>
            <h5 class="card-title">{{ "echarts.terminalcount" | translate }}</h5>
            {{ dataItem.terminalCount | number: '2.1-2'}} 
          </div>
        </div>
       </div>
       <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pe-0 me-2">
        <div class="card">
          <div class="card-body">
            <i class="bi bi-clipboard2-check-fill"></i>
            <h5 class="card-title">  {{ "echarts.invoicecount" | translate }}</h5>
              {{ dataItem.invoiceCount | number: '2.1-2'}}
          </div>
        </div>
      </div>
      <div class="col-lg-2  col-md-2 col-sm-2 col-xs-2 pe-0  me-2  ">
        <div class="card">
          <div class="card-body">
            <i class="bi bi-1-square-fill"></i>
            <h5 class="card-title">  {{ "echarts.totalsubamount" | translate }}</h5>
            {{ dataItem.totalSubAmount | number: '2.1-2'}}
          </div>
        </div>
      </div>

      <div class="col-lg-2  col-md-2 col-sm-2 col-xs-2 pe-0  me-2 " >
        <div class="card">
          <div class="card-body">
            <i class="bi bi-0-square-fill"></i>
            <h5 class="card-title"> {{ "echarts.totalvatamount" | translate }}</h5>
            {{ dataItem.totalVatAmount | number: '2.1-2'}}
          </div> 
        </div>
      </div>


 
  
      </div>
  </div>
</div>
  
<div class="row mx-0" style="margin-top: 16px;">
    <div class="mx-auto col-10 col-md-8 col-lg-4 rounded rounded-3 w-100 px-6">
      <div class="container-fluid rounded-3 bg-white p-3">
        <div class="row row-cols-2 row-cols-md-2 row-cols-sm-2 row-cols-xs-2 g-4 ">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"> {{ "echarts.invoiceamount" | translate }}</h5>
                <div class="row justify-content-around">
                  <div class="col-lg-4 d-flex" *ngFor="let type of datatype| chunkarray:  0: 2">
                    <div class="row justify-content-center">
                       <div class="text-center">
                        <i class="bi bi-clipboard2-check"  style='font-size:20px;  color:rgb(255, 109, 0); background-color:rgba(128, 104, 85, 0.1);  padding:8px;  border-radius: 30px;'></i>
                      </div>
                      <div class="row justify-content-center text-center">
                        <p class="mb-0">{{ type.name | translate  }}</p>
                        <p class="h-6 mb-0">{{ type.value  | number: '2.1-2'}}</p>
                        
                      </div>
                    </div>
                  </div>
                </div>
           
                <div echarts [options]="EChartsOption" class="demo-chart" ></div>

              <div class="row justify-content-around">
                <div class="col-lg-4 d-flex" *ngFor="let type of datatype| chunkarray:  3:5 ">
                  <div class="row justify-content-center">
                    <div class="text-center">
                      <i class="bi bi-clipboard2-check"  style='font-size:20px; color:rgb(255, 109, 0); background-color:rgba(128, 104, 85, 0.1); padding:8px;  border-radius: 30px;'></i>
                    </div>
                    <div class="row justify-content-center text-center">
                      <p class="mb-0">{{ type.name | translate  }}</p>
                      <p class="h-6 mb-0">{{ type.value | number: '2.1-2'}}</p>
                      
                    </div>
                  </div>
                </div>
              </div>



    

              
         
          
             </div>
            </div>
          </div>

        

            <div class="col">
            
              <div class="card"  style='margin-bottom: 50px; padding-bottom: 39px;' >
                <div class="card-body">
                  <h5 class="card-title"  style='margin-top:0px; margin-right: -10px;'>{{ "echarts.invoicestatus" | translate }}</h5>
                  <br>
                  <div echarts [options]="EChaOption" class="demo-chart" ></div>
                  <br>
                  <div class="row" style='margin-bottom:-30px;' ng-repeat="status in datastatus">
                    <br>
                    <div *ngFor="let status of datastatus" class="col col-50" style='margin-left: 85px;' >
                      <br>
                        <div> 
                          <br>
                          <i class="bi bi-lightbulb"  style='font-size:20px;  color:rgb(255, 109, 0); background-color:rgb(255, 109, 1,0.1); padding:8px; border-radius: 30px;  margin-bottom: 15px;'></i>
                            <div  class="item item-text-wrap"  >
                              {{ status.name | translate }}:{{ status.count  | number: '2.1-2'}}
                            </div>
                            
                        </div>
                    </div>
                </div>
             
                </div>
               </div>
              </div>

           

            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{"echarts.topbranch" | translate}}</h5>
                  <div echarts [options]="EChartOption" class="demo-chart"></div>
                </div>
               </div>
              </div>

                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{ "echarts.hourlyinvoice" | translate }}</h5>         
                      <div echarts [options]="ECharOption"  class="demo-chart" ></div>
                    </div>
                   </div>
                  </div>


                  
    
    </div>
  </div>


  
  

  