@import "~bootstrap-icons/font/bootstrap-icons.css";
.hi{
    margin-bottom:150px ;
}

@media (max-width: 400px){
    .col  {
        
        margin-right: 10px;
        width: 100%;
    } 
  }
 @media (max-width: 400px){
    .card-title{
        margin: 15px;
        width: 100%;
    }
  }
 @media (max-width: 400px){
    .row .justify-content-center .text-center{
        margin: 10px;
        width: 100%;
    }

 
}





