@font-face {
  font-family: "Airbnb Cereal App";
  src: local("Airbnb Cereal App"), url(/assets/fonts/AirbnbCerealBook.ttf) format("truetype");
}
/*body {
  font-family: 'Airbnb Cereal App';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}*/
/*.mat-mdc-card-title {
  font-family: 'Airbnb Cereal App' !important;
}*/
/*.mat-mdc-header-cell {
  font-family: 'Airbnb Cereal App' !important;
}*/
td.mat-mdc-cell:first-child {
  border-right: 2px solid #F6F6F6 !important;
  border-bottom-right-radius: 50px !important;
  border-top-right-radius: 50px !important;
}

td.mat-mdc-cell:last-child {
  border-left: 2px solid #F6F6F6 !important;
  border-bottom-left-radius: 50px !important;
  border-top-left-radius: 50px !important;
}
button.mat-mdc-menu-item {
  display: flex !important;
  flex-direction: row-reverse !important;
}
.mat-mdc-paginator-container .mat-mdc-paginator-range-actions .mat-mdc-paginator-range-label {
  direction: ltr !important;
}

.input-form .form-control {
  padding-right: 2.375rem;
}
.search-bar .form-control {
  padding-right: 2.375rem;
}

.ng-select.custom {
  .ng-select-container

{
  border: 0;
  border-radius: 50rem !important;
  .ng-value-container

{
  padding-right: 35px;
}

}

.ng-dropdown-panel {
  border-radius: 0.5rem;
  padding: 0.50rem;
  .ng-dropdown-panel-items .ng-option

{
  border-radius: 50rem;
  background: #F6F6F6;
  margin-bottom: 0.50rem;
}

}
}

.app-text-end {
  text-align: left !important;
}
.app-text-start {
  text-align: right !important;
}

.profile-modal.modal-dialog {
  width: 350px;
  position: fixed;
  top: 4%;
  left: 1%;
}

.account-modal.modal-dialog, .password-modal.modal-dialog {
  width: 350px;
  position: fixed;
  top: 4%;
  left: 4%;
}
.modal-header .btn-close {
    margin-left: 0 !important;
    margin-right: auto !important;
}
.flex-display {
  display: flex !important;
  flex-direction: row-reverse !important;
}
.app-start-0 {
    right: 0 !important;
}

.app-end-0 {
    left: 0 !important
}



.mat-calendar-controls .mat-mdc-icon-button.mat-mdc-button-base {
    transform: none !important;
}
/*Margins*/
.app-ms-4 {
  margin-right: 24px !important;
}
.app-me-3 {
  margin-left: 16px !important;
}

.app-me-2 {
  margin-left: 8px !important;
}

.app-me-1 {
  margin-left: 4px !important;
}

.app-me-auto {
  margin-left: auto !important;
}

/*Paddings*/
.app-ps-2 {
  padding-right: 8px !important;
}
.app-ps-3 {
  padding-right: 16px !important;
}
.app-ps-4 {
  padding-right: 24px !important;
}
.app-ps-5 {
  padding-right: 32px !important;
}

.app-pe-2 {
  padding-left: 8px !important;
}
.app-pe-3 {
  padding-left: 16px !important;
}
.app-pe-4 {
  padding-left: 24px !important;
}
.app-pe-5 {
  padding-left: 32px !important;
}
.app-text-start{
    text-align: right;
}
.app-float-end {
  float: left;
}

/*table*/
  td.cell:first-child {
    border-right: 2px solid #F6F6F6;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
  }

  td.cell:last-child {
    border-left: 2px solid #F6F6F6;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
  }
.invo-group.btn-group > .invo-group.btn-group:not(:last-child) > .btn,
.invo-group.btn-group > .btn.dropdown-toggle-split:first-child,
.invo-group.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.invo-group.btn-group>.invo-group.btn-group:is(:first-child)>.btn,
.invo-group.btn-group>.btn.dropdown-toggle-split:first-child,
.invo-group.btn-group>.btn:is(:first-child):not(.dropdown-toggle) {
  border-top-right-radius: inherit !important;
  border-bottom-right-radius: inherit !important;
}
.invo-group.btn-group > .invo-group.btn-group:not(:first-child) > .btn,
.invo-group.btn-group > .btn:nth-child(n+3),
.invo-group.btn-group > :not(.btn-check) + .btn {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: inherit !important;
  border-bottom-left-radius: inherit !important;
}
 .invo-group.btn-group>.btn:nth-child(n+3),
  .invo-group.btn-group>:not(.btn-check)+.btn {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: inherit !important;
    border-bottom-left-radius: inherit !important;
}