@font-face {
  font-family: "Airbnb Cereal App";
  src: local("Airbnb Cereal App"), url(/assets/fonts/AirbnbCerealBook.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
/*body, .mat-mdc-header-cell, button, ::placeholder, .mdc-button, a.btn-search-bar {
  font-family: 'Airbnb Cereal App' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}*/
/*.mat-mdc-card-title {
  font-family: 'Airbnb Cereal App' !important;
}*/
/*.mat-mdc-header-cell {
  font-family: 'Airbnb Cereal App' !important;
}*/
td.mat-mdc-cell:first-child {
  border-left: 2px solid #F6F6F6;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

td.mat-mdc-cell:last-child {
  border-right: 2px solid #F6F6F6;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
.input-form .form-control {
  padding-left: 2.375rem;
}
.search-bar .form-control {
  padding-left: 2.375rem;
}


.ng-select.custom {
  .ng-select-container

{
  border: 0;
  border-radius: 50rem !important;
  .ng-value-container

{
  padding-left: 35px;
}

}

.ng-dropdown-panel {
  border-radius: 0.5rem;
  padding: 0.50rem;
  .ng-dropdown-panel-items .ng-option

{
  border-radius: 50rem;
  background: #F6F6F6;
  margin-bottom: 0.50rem;
}

}
}



.app-text-end {
  text-align: right !important;
}
.app-text-start {
  text-align: left !important;
}

 .profile-modal.modal-dialog {
  width: 350px;
  position: fixed;
  top: 4%;
  right: 1%;
}

.account-modal.modal-dialog, .password-modal.modal-dialog {
  width: 350px;
  position: fixed;
  top: 4%;
  right: 5%;
}

.flex-display {
  display: flex !important;
  flex-direction: row !important;
}

.app-start-0 {
  left: 0 !important;
}

.app-end-0 {
  right: 0 !important
}

/*Margins*/
.app-me-auto {
  margin-right: auto !important;
}
.app-me-1 {
  margin-right: 4px !important;
}
.app-me-2 {
  margin-right: 8px !important;
}
.app-me-3 {
  margin-right: 16px !important;
}
.app-me-4 {
  margin-right: 24px !important;
}

.app-ms-3 {
  margin-left: 16px !important;
}
.app-ms-4 {
  margin-left: 24px !important;
}

/*Paddings*/
.app-pe-2 {
  padding-right: 8px !important;
}
.app-pe-3 {
  padding-right: 16px !important;
}
.app-pe-4 {
  padding-right: 24px !important;
}
.app-pe-5 {
  padding-right: 32px !important;
}
.app-pe-6 {
  padding-right: 20px !important;
}


.app-ps-2 {
  padding-left: 8px !important;
}

.app-ps-3 {
  padding-left: 16px !important;
}

.app-ps-4 {
  padding-left: 24px !important;
}

.app-ps-5 {
  padding-left: 32px !important;
}

.app-ps-6 {
  padding-left: 20px !important;
}
.app-text-start {
  text-align: left;
}
.app-float-end{
    float: right;
}

/*table*/
  td.cell:first-child {
    border-left: 2px solid #F6F6F6;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
  }

  td.cell:last-child {
    border-right: 2px solid #F6F6F6;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
  }
