<div class="row bg-white m-0 w-100">
  <div class="col-lg-12 col-md-12 col-sm-12 p-0 m-0">
    <app-merchant-nav-menu (filterMerchants)="applyMerchantFilter($event)">
    </app-merchant-nav-menu>
  </div>
</div>

<div class="row mx-0" style="margin-top: 16px">
  <div class="mx-auto col-10 col-md-8 col-lg-4 rounded rounded-3 w-100 px-6">
    <div class="container-fluid rounded-3 bg-white p-3">
      <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
           
            <th>{{ "merchant.nameAr" | translate }}</th>
            <th>{{ "merchant.nameEn" | translate }}</th>
            <th>{{ "merchant.plan" | translate }}</th>
            <th>{{ "merchant.vatRegistrationNumber" | translate }}</th>
            <th>{{ "merchant.commerialRegisterationNumber" | translate }}</th>
            <th>{{ "merchant.businessCategoryAr" | translate }}</th>
            <th>{{ "merchant.businessCategoryEn" | translate }}</th>
            <th>{{ "general.status" | translate }}</th>
            <th>{{ "general.action" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let merchant of merchants" (click)="viewMerchant(merchant)">
            <td class="cell">{{ merchant.nameAr }}</td>
            <td class="cell">{{ merchant.nameEn }}</td>
            <td class="cell">{{ merchant.plan == null? '' : merchant.plan.name }}</td>
            <td class="cell">{{ merchant.vatRegistrationNumber }}</td>
            <td class="cell">{{ merchant.commerialRegisterationNumber }}</td>
            <td class="cell">{{ merchant.businessCategoryAr }}</td>
            <td class="cell">{{ merchant.businessCategoryEn }}</td>
            <td class="cell">
              <span class="p-2 rounded-3" [ngClass]="merchant.status == 0 ? 'active-color' : 'inactive-color'">
                {{ "general." + merchant.statusString | lowercase | translate }}
              </span>
            </td>
            <td class="cell" (click)="preventCellClick($event)">
              <div class="dropdown">
                <button class="btn bg-transparent dropdown-toggle border-0 p-0" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <fa-icon [icon]="actionIcon" class="fa-lg"></fa-icon>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button class="btn dropdown-item" (click)="updateMerchant(merchant.id)">
                      <fa-icon [icon]="updateIcon" class="app-pe-2"></fa-icon>
                      <span>{{ "general.update" | translate }}</span>
                    </button>
                  </li>
                  <li>
                    <button class="btn dropdown-item" (click)="openDeleteConfirmationModal(merchant.id)">
                      <fa-icon [icon]="deleteIcon" class="app-pe-2"></fa-icon>
                      <span>{{ "general.delete" | translate }}</span>
                    </button>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      <pagination class="justify-content-center"  (pageChanged)="pageChanged($event)" [boundaryLinks]="true"
        [totalItems]="itemCount" [itemsPerPage]="paginatorPageSize" [(ngModel)]="paginatorPageNumber"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="this.tableMaxSize">
      </pagination>
    </div>
  </div>
</div>