<div class="modal-header">
  <h4 class="modal-title">{{ 'general.confirmationTitle' | translate }}</h4>
  <button type="button" class="btn-close rounded-circle app-gray-color" (click)="closeModal()" aria-label="Close"></button>
</div>
<div class="modal-body">
  {{ 'general.confirmationMessage' | translate }}
</div>
<div class="modal-footer btn-group-sm p-2">
  <button type="button" class="btn btn-block btn-sm app-gray-color rounded-pill" (click)="closeModal()">
    <span class="p-2">{{ 'general.no' | translate }}</span>
  </button>
  <button type="button" class="btn btn-block btn-sm bg-orange-color text-white rounded-pill" (click)="deleteItem()">
    <span class="p-2">{{ 'general.yes' | translate }}</span>
  </button>
</div>
