<div class="row">
  <div>
    <svg width="200" height="180" viewBox="0 0 288 203" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect y="2" width="288" height="201" rx="16" fill="#FFF3EA" />
      <mask id="mask0_131_286" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="288" height="203">
        <rect width="288" height="203" rx="16" fill="#FFF3EA" />
      </mask>
      <g mask="url(#mask0_131_286)">
        <rect x="23" y="32" width="396" height="300" rx="17" stroke="#FF6D00" stroke-width="2" />
      </g>
      <circle cx="144" cy="101" r="24" fill="#FF6700" />
      <path d="M151.5 100.064C152.167 100.449 152.167 101.411 151.5 101.796L139.5 108.724C138.833 109.109 138 108.628 138 107.858L138 94.0015C138 93.2317 138.833 92.7506 139.5 93.1355L151.5 100.064Z" fill="white" />
    </svg>

  </div>
<div>
  <div class="border-primary">
    <div class="mb-3 d-flex flex-row"><app-pump-icon class="me-2"></app-pump-icon> <h4>Guide</h4></div>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Merchants</div>
          Create item
        </div>
       
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Plans</div>
          Create item
        </div>
       
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Branches</div>
          Create item
        </div>
       
      </li>
    </ol>
  </div>
</div>
<div>

</div>
</div>
