.input-form .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.custom-scrollbar-css {
  overflow-y: auto;
  overflow-x: hidden;
}

  .custom-scrollbar-css::-webkit-scrollbar {
    width: 5px;
  }

  .custom-scrollbar-css::-webkit-scrollbar-track {
    background: #eee;
  }

  .custom-scrollbar-css::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: gray;
  }

.ng-select.custom .ng-select-container

{
  background-color: #F6F6F6 !important;
  border: 0;
}

