<div class="modal-header d-block">
  <div class="d-flex flex-row">
    <h6 class="modal-title">{{'account.myAccount' | translate}}</h6>
    <button type="button" class="btn-close rounded-circle" (click)="onProfileModelClose()" aria-label="Close"></button>
  </div>
  <h5 class="modal-title text-center">{{ username }}</h5>
</div>

<div class="modal-body border-top">
  <div class="row mb-2">
    <div class="form-group input-form w-100">
      <span class="form-control-feedback">
        <fa-icon [icon]="globeIcon"></fa-icon>
      </span>
      <ng-select [items]="languages"
                 bindValue="value"
                 [clearable]="false"
                 [(ngModel)]="defaultLang"
                 placeholder="{{'languages.changeLanguage' | translate}}"
                 (change)="onLangChange($event)"
                 class="custom">
        <ng-template ng-option-tmp ng-label-tmp let-item="item">
          {{ 'languages.'+item.name | translate }}
        </ng-template>
      </ng-select>
    </div>
  </div>

   <div class="row p-2">
     <button type="button"
            class="btn rounded-pill app-gray-color app-text-start"
          (click)="openPasswordModal() ">
          <span class="mx-2">{{ 'general.changepassword' | translate }}</span>
      </button>
  </div> 


  <div class="row p-2">
    <button type="button" class="btn rounded-pill app-gray-color app-text-start" (click)="onLogout()">
      <fa-icon [icon]="logoutIcon"></fa-icon>
      <span class="mx-2">{{ 'general.logout' | translate }}</span>
    </button>
  </div>
</div>
          <div class="modal-footer justify-content-center">
          <span>Cashin Petro {{ year }}</span>
            </div>
