<div class="modal-header p-4 pb-0" id="modelmonitor">
    <h4 class="modal-title pull-left">{{ "monitor.monitor" | translate }}</h4>
    <button
      type="button"
      class="btn-close rounded-circle app-gray-color"
      (click)="bsModalRef.hide()"
      aria-label="Close"
    ></button>
  </div>
  
  <div class="modal-body p-4">
    <div class="row h-100">
      <div class="col-lg-12 col-md-12 col-sm-12 overflow-auto">
        <div class="mb-4">
          <div class="row w-100">
            <div class="col-lg-6 mb-3">
              <div class="input-form">
                <h4 class="modal-title pull-left">{{ "monitor.requestBody" | translate }}</h4>
                
                <textarea rows="5" cols="60"   id="text"  class="form-control input-height  app-gray-color border-0 text-start">
                 {{ this.currentData.requestBody | json }}
                </textarea>
            
             
              </div>
            </div>
            <div class="col-lg-6 mb-3">
              <div class="input-form">
                <h4 class="modal-title pull-left">{{ "monitor.requestHeaders" | translate }}</h4>
                 <textarea rows="5" cols="60"  id="text"  class="form-control input-height  app-gray-color border-0 text-start">
     {{ this.currentData.requestHeaders | json }}
                </textarea>
              </div>
            </div>
          </div>


          <div class="row w-100">
            <div class="col-lg-6 mb-3">
              <div class="input-form">
                <h4 class="modal-title pull-left">{{ "monitor.responseBody" | translate }}</h4>
                <textarea rows="5" cols="60"    id="text" class="form-control input-height  app-gray-color border-0 text-start">
                  {{ this.currentData.responseBody | json  }}
                </textarea>
             
              </div>
            </div>
            <div class="col-lg-6 mb-3">
              <div class="input-form">
                <h4 class="modal-title pull-left">{{ "monitor.responseHeaders" | translate }}</h4>
            
                <textarea rows="5" cols="60"  id="text"  class="form-control input-height  app-gray-color border-0 text-start">
                  {{ this.currentData.responseHeaders | json  }}
                </textarea>
              </div>
            </div>
          </div>


          <div class="row w-100">
            <div class="col-lg-6 mb-3">
              <div class="input-form">
                <h4 class="modal-title pull-left">{{ "monitor.queryString" | translate }}</h4>
                <textarea rows="5" cols="60"    id="text" class="form-control input-height  app-gray-color border-0 text-start">
                  {{ this.currentData.queryString | json }}
                </textarea>
             
              </div>
            </div>
          </div>


     
       
       
   
         

      
 
          <div class="row w-100"></div>
        </div>
      </div>
    </div>
  </div>
  

