<div class="row bg-white m-0 w-100">
  <div class="col-lg-12 col-md-12 col-sm-12 p-0 m-0">
    <app-nav-branch (filterBranches)="applyBranchFilter($event)">
      </app-nav-branch>
  </div>
</div>

  
  <div class="row mx-0" style="margin-top: 16px">
    <div class="mx-auto col-10 col-md-8 col-lg-4 rounded rounded-3 w-100 px-6">
      <div class="container-fluid rounded-3 bg-white p-3">
        <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{{ "branch.nameAr" | translate }}</th>
              <th>{{ "branch.nameEn" | translate }}</th>
              <th>{{ "branch.number" | translate }}</th>
              <th>{{ "branch.city" | translate }}</th>
              
              <th>{{ "general.status" | translate }}</th>
              <th>{{ "general.action" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let branch of Branches"
              (click)="viewBranch(branch)"
            >
              <td class="cell">{{ branch.nameAr}}</td>
              <td class="cell">{{ branch.nameEn }}</td>
              <td class="cell">{{ branch.number }}</td>
              <td class="cell">{{ branch.city }}</td>
              
              <td class="cell">
                <span
                  class="p-2 rounded-3"
                  [ngClass]="branch.status == 0 ? 'active-color' : 'inactive-color'"
                >
                  {{ "general." + branch.statusString | lowercase | translate }}
                </span>
              </td>
              <td class="cell" (click)="preventCellClick($event)">
                <div class="dropdown">
                  <button
                    class="btn bg-transparent dropdown-toggle border-0 p-0"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <fa-icon [icon]="actionIcon" class="fa-lg"></fa-icon>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <button
                        class="btn dropdown-item"
                        (click)="updateBranch(branch.id)"
                      >
                        <fa-icon [icon]="updateIcon" class="app-pe-2"></fa-icon>
                        <span>{{ "general.update" | translate }}</span>
                      </button>
                    </li>
                    <li>
                      <button
                        class="btn dropdown-item"
                        (click)="openDeleteConfirmationModal(branch.id)"
                      >
                        <fa-icon [icon]="deleteIcon" class="app-pe-2"></fa-icon>
                        <span>{{ "general.delete" | translate }}</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
        <pagination
          class="justify-content-center"
          (pageChanged)="pageChanged($event)"
          [boundaryLinks]="true"
          [totalItems]="itemCount"
          [itemsPerPage]="paginatorPageSize"
          [(ngModel)]="paginatorPageNumber"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
          [maxSize]="this.tableMaxSize"
        >
        </pagination>
      </div>
    </div>
  </div>
  