@media (max-width: 400px){
    .form-group  {
        margin-bottom: 15px;
    }
  }

  @media (max-width: 400px){
    .col-sm-auto  {
        margin-bottom: 15px;
    }
  }
  
  @media (max-width: 400px){
    button {
        margin-right: -20px;
    }
  }

  

  