<div class="d-flex filter-menu-padding">
    <div class="me-auto w-100">
      <form [formGroup]="filterForm">
        <div class="row w-100 m-0">
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 p-0 app-pe-3">
            <div class="form-group input-form w-100">
              <ng-select [items]="branches | async"
                         bindLabel="id"
                         bindValue="name"
                         formControlName="selectedBranch"
                         placeholder="{{ 'branch.branches' | translate }}"
                         (change)="onSave()"
                         appendTo="body"
                         class="custom">
              </ng-select>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p-0 app-pe-3">
            <div class="form-group input-form w-100">
              <span class="form-control-feedback">
                <app-grade-icon></app-grade-icon>
              </span>
              <ng-select [items]="terminals | async"
                         bindLabel="id"
                         bindValue="name"
                         formControlName="TerminalId"
                         placeholder="{{ 'terminal.terminals' | translate }}"
                         (change)="onSave()"
                         appendTo="body"
                         class="custom">
              </ng-select>
            </div>
          </div>
       
   
          <div class="col-sm-auto p-0">
            <app-date-time-picker [isCleared]="$isCleared" (dateChange)="onDateChange($event)"></app-date-time-picker>
          </div>
          <div class="col-lg-2 p-0">
            <button type="button"
                    class="btn rounded-pill mx-2 app-gray-color"
                    (click)="emitClearFilter()">
              {{ 'general.clear' | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
</div>
