<div class="overflow-hidden">
  <div class="row">
    <div class="position-relative">
      <div class="form-group input-form
           position-absolute top-0 app-end-0 app-pe-3 pt-2">
        <span class="form-control-feedback">
          <fa-icon [icon]="globeIcon"></fa-icon>
        </span>
        <ng-select [items]="languages"
                   bindLabel="name"
                   bindValue="value"
                   [clearable]="false"
                   [(ngModel)]="defaultLang"
                   (change)="onLangChange($event)"
                   class="custom bg-transparent">
        </ng-select>
      </div>
      <div class="position-absolute app-ms-4 mt-2 top-0 app-start-0">
        <img [src]="logoSrc" alt="logo"/>
      </div>
    </div>
  </div>
    <div class="row w-100 m-0">
      <div class="col-lg-6 petro-icon" style="background: #889097;">
        <div class="row align-items-center img-container">
          <img src="../../../assets/logo/entry-logo.png" alt="invoice" />
          <div class="col-lg-6 mx-auto">
            <h3 class="text-white text-center login-panel-Message">{{ 'Always cashin' | uppercase }}</h3>
            <p class="text-white">
              Enhance your business sales and growth with CASHIN.
              We help you manage your business reporting, digital payments,
              and much more
            </p>
          </div>
  
        </div>
      </div>
      <div class="col-lg-6 bg-white">
        <div class="row align-items-center" style="height: 100vh;">
          <div class="mx-auto col-lg-6 col-md-8 col-lg-4 merchant-container">
            <div class="mb-4">
              <h2 class="mb-1">{{ 'merchant.merchant' | translate }}</h2>
              <span>{{ 'merchant.selectMerchant' | translate }}</span>
            </div>
  
            <div class="custom-scrollbar-css merchant-container">
              <div *ngFor="let merchant of merchants"
                   [ngClass]="{'border-primary' : (selectedMerchant === merchant.id)}"
                   (click)="onMerchentSelect(merchant.id)"
                   class="card me-1 mb-3 bg-white">
                <div class="card-body text-title">
                  {{merchant.name}}
                </div>
              </div>
            </div>
            
            <div>
              <button type="button"
                      (click)="confirmSelectedMerchant()"
                      class="btn btn-primary w-100">
                {{ 'general.continue' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
  </div>
  