<div class="row bg-white m-0 w-100">
    <div class="col-lg-12 col-md-12 col-sm-12 p-0 m-0">
      <app-nav-bulkupload (filterBulkupload)="  applyBulkuploadFilter($event)">
      </app-nav-bulkupload>
    </div>
  </div>
  
  <div class="row mx-0" style="margin-top: 16px">
    <div class="mx-auto col-10 col-md-8 col-lg-4 rounded rounded-3 w-100 px-6">
      <div class="container-fluid rounded-3 bg-white p-3">
        <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{{ "bulkupload.userName" | translate }}</th>
              <th>{{ "bulkupload.terminalName" | translate }}</th>
              <th>{{ "bulkupload.invoiceCount" | translate }}</th>
              <th>{{ "bulkupload.successCount" | translate }}</th>
              <th>{{ "bulkupload.failedCount" | translate }}</th>
              <th>{{ "bulkupload.status" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bulkupload of bulkuploads">
              <td class="cell">{{ bulkupload.username}}</td>
              <td class="cell">{{ bulkupload.terminalName }}</td>
              <td class="cell">{{ bulkupload.invoiceCount }}</td>
              <td class="cell">{{ bulkupload.successCount }}</td>
              <td class="cell">{{ bulkupload.failedCount }}</td>
              <td class="cell">{{ bulkupload.bulkuploadString}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination class="justify-content-center"  (pageChanged)="pageChanged($event)" [boundaryLinks]="true"
      [totalItems]="itemCount" [itemsPerPage]="paginatorPageSize" [(ngModel)]="paginatorPageNumber"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="this.tableMaxSize">
    </pagination>
      </div>
    </div>
  </div>
