input.ng-touched.ng-invalid {
    border: 1px solid red;
  }
  ::ng-deep .ng-select-container .ng-value-container {
    padding-left: 38px !important;
  }
  ::ng-deep .ng-select-container:hover {
      box-shadow: none !important;
  }
  
  ::ng-deep .ng-select-container {
    background-color: transparent !important;
    border: 0 !important;
    outline: none !important;
  }
  
  .input-form .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.25rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
  