<div class="overflow-hidden">
  <div class="row">
    <div class="position-relative">
      <div class="form-group input-form
           position-absolute top-0 app-end-0 app-pe-3 pt-2">
        <span class="form-control-feedback">
         <fa-icon [icon]="globeIcon"></fa-icon>
        </span>
        <ng-select [items]="languages"
                   bindValue="value"
                   [clearable]="false"
                   [(ngModel)]="defaultLang"
                   (change)="onLangChange($event)"
                   class="custom">
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{ 'languages.'+item.name | translate }}
          </ng-template>
        </ng-select>
      </div>
      <div class="position-absolute app-ms-4 mt-2 top-0 app-start-0">
        <img src="../../assets/logo/sign_logo.png" alt="logo"/>
      </div>
    </div>
  </div>


  <div class="row w-100 m-0">
    <div class="petro-icon col-lg-6" style="background: #889097;">
      <div class="row align-items-center" style="height: 100vh;">
        <img src="../../../assets/logo/entry-logo.png" alt="invoice" />
        <div class="col-lg-6 mx-auto">
          <h3 class="text-white text-center login-panel-Message">{{ 'Always cashin' | uppercase }}</h3>
          <p class="text-white">Enhance your business sales and growth with CASHIN.
          We help you manage your business reporting, digital payments,
          and much more</p>
        </div>

      </div>
    </div>
    <div class="col-lg-6 bg-white">
      <div class="row align-items-center" style="height: 100vh;">
        <div class="mx-auto col-lg-6 col-md-8 col-lg-4">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <h2 class="mb-4">{{ 'login.loginMessage' | translate }}</h2>


            <div class="mb-3">
              <label for="username" class="form-label">
                {{ 'general.email' | translate }}
              </label>
              <input formControlName="username" type="email"
                     class="form-control" id="username" required>
              <span class="text-danger"
                    *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched
                || (submitted && loginForm.get('username')?.hasError('required'))">
                {{ 'general.requiredField' | translate }}
              </span>
            </div>


            <div class="mb-3">
              <label for="userPassword" class="form-label">
                {{ 'login.password' | translate }}
              </label>
              <input formControlName="password" type="password" class="form-control" id="userPassword" required>
              <span class="text-danger"
                    *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched
                || (submitted && loginForm.get('password')?.hasError('required'))">
                {{ 'general.requiredField' | translate }}
              </span>
            </div>




            <div class="mb-3">
              <div class="alert alert-danger" *ngIf="error">
                <p class="m-0">{{ error }}</p>
              </div>
            </div>


            <div>
              <button type="submit" class="btn btn-primary w-100">
              {{ 'login.submit' | translate }}
              </button>
            </div>



          </form>
        </div>
      </div>
    </div>





  </div>
</div>
