<div>
  <div class="row align-items-center" style="height: 100vh;">
    <div class="col-10 col-md-8 col-lg-4 mx-auto text-center">
      <fa-icon [icon]="warning" class="warning-icon"></fa-icon>
      <h1>Not Found!</h1>
    </div>
  </div>
</div>
