<div class="d-flex filter-menu-padding">
  <div class="me-auto w-100">
    <form [formGroup]="filterForm">
      <div class="row w-100 m-0">
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 p-0 app-pe-3">
          <div class="form-group input-form">
            <span class="form-control-feedback">
              <fa-icon [icon]="searchIcon"></fa-icon>
            </span>
            <input type="text" class="form-control
                   rounded-pill
                   app-gray-color
                   border-0"
                   placeholder="{{ 'general.search' | translate }}"
                   formControlName="searchPattern"
                   (keyup.enter)="onAccountSearch($event)">
          </div>
        </div>
        
        
    
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 p-0">
          <div class="d-flex flex-row">
            <button *ngFor="let key of statusKeys" [value]="key"
                    type="button"
                    [ngClass]="selectedStatus == +key ? 'status-btn-focus': ''"
                    class="btn status-btn btn-light rounded-pill ms-2 gray-text-color"
                    (click)="onStatusChange(+key)">
              {{ 'general.'+status[+key] | lowercase | translate }}
            </button>
            <button type="button"
                    class="btn btn-light rounded-pill ms-2 gray-text-color"
                    (click)="clearForm()">
              {{ 'general.clear' | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  
  <div class="d-flex flex-row new-export-container">
    <div>
      <a class="btn btn-search-bar text-white rounded-pill"
         [routerLink]="['/account/account-add', accountId]">
        {{ 'general.addNew' | translate }}
      </a>
    </div>
  </div>
</div>


  
