.input-form .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
  .ng-select.custom 
    .ng-select-container{
    background-color: #F6F6F6 !important;
    border: 0;
  }

  @media (max-width: 400px){
    .form-group  {
        margin-bottom: 15px;
    }
  }
  
  