<div class="row h-100 mx-6 mt-3">
  <div class="col-lg-2 col-md-4 col-sm-6 h-100 p-0 app-pe-4">
    <div class="card card-height border-0 p-4 bg-white rounded-3 shadow-sm">
      <h5>Learn how to add new Terminal</h5>
      <div class="card-body"><app-temp-info></app-temp-info></div>
    </div>
  </div>
  <div class="col-lg-10 col-md-8 col-sm-6 p-0">
    
    <div
      class="card bg-white border-0 rounded-3 shadow-sm card-height merchant-card p-4"
    >
    




      <div class="card-title mb-4">
        {{ "terminal.terminal" | translate }}
      </div>


      
      <div class="card-body">
        <form [formGroup]="terminalForm" autocomplete="off">

 


          <div class="mb-4">
            <div class="row w-100 mb-3">
              <div class="col-6">
                <div class="form-floating mt-3 form-group input-form">
                  <input
                    type="text"
                    class="form-control rounded-pill app-gray-color border-0"
                    formControlName="nameAr"
                    autocomplete="off"
                    placeholder="{{ 'general.nameAr' | translate }}"
                  />
                  <label  style="color: black;" for="nameAr">{{
                    'general.nameAr' | translate}}:</label>
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    terminalForm.get('nameAr')?.hasError('required') &&
                    (submitted || terminalForm.get('nameAr')?.touched)
                  "
                >
                  {{ "general.requiredField" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    terminalForm.get('nameAr')?.hasError('maxlength') &&
                    terminalForm.get('nameAr')?.touched
                  "
                >
                  {{ "terminal.maxLengthNameError" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    terminalForm.get('nameAr')?.hasError('minlength') &&
                    terminalForm.get('nameAr')?.touched
                  "
                >
                  {{ "terminal.minLengthNameError" | translate }}
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mt-3 form-group input-form">
                  <input
                    type="text"
                    class="form-control rounded-pill app-gray-color border-0"
                    formControlName="nameEn"
                    autocomplete="off"
                    placeholder="{{ 'general.nameEn' | translate }}"
                  />
                  <label  style="color: black;" for="nameEn">{{
                    'general.nameEn' | translate}}:</label>
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    terminalForm.get('nameEn')?.hasError('required') &&
                    (submitted || terminalForm.get('nameEn')?.touched)
                  "
                >
                  {{ "general.requiredField" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    terminalForm.get('nameEn')?.hasError('maxlength') &&
                    terminalForm.get('nameEn')?.touched
                  "
                >
                  {{ "merchant.maxLengthNameError" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    terminalForm.get('nameEn')?.hasError('minlength') &&
                    terminalForm.get('nameEn')?.touched
                  "
                >
                  {{ "terminal.minLengthNameError" | translate }}
                </div>
              </div>
            </div>

         

            <div class="row w-100 mb-3">
              <div class="col-6">
                <div class="form-floating mt-3 form-group input-form">
                  <input
                    type="text"
                    class="form-control rounded-pill app-gray-color border-0"
                    formControlName="number"
                    placeholder="{{
                      'terminal.number' | translate
                    }}"
                  />
                  <label  style="color: black;" for="number">{{
                    'general.number' | translate}}:</label>
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    terminalForm
                      .get('number')
                      ?.hasError('required') &&
                    (submitted ||
                      terminalForm.get('number')?.touched)
                  "
                >
                  {{ "general.requiredField" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    terminalForm
                      .get('number')
                      ?.hasError('maxlength') &&
                    terminalForm.get('number')?.touched
                  "
                >
                  {{ "terminal.maxNumberError" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    terminalForm
                      .get('number')
                      ?.hasError('minlength') &&
                  terminalForm.get('number')?.touched
                  "
                >
                  {{ "terminal.minNumberError" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    terminalForm
                      .get('number')
                      ?.hasError('pattern') &&
                    terminalForm.get('number')?.touched
                  "
                >
                  {{ "general.onlyNumbersAllowed" | translate }}
                </div>
              </div>

              <div class="col-6">
                <div class="form-floating mt-3 form-group input-form">
                  <input
                    type="text"
                    class="form-control rounded-pill app-gray-color border-0"
                    formControlName="reference"
                    placeholder="{{
                      'terminal.reference' | translate
                    }}"
                  />
                  <label  style="color: black;" for="reference">{{
                    'general.reference' | translate}}:</label>
                </div>
            
                <div
                  class="text-danger"
                  *ngIf="
                    terminalForm
                      .get('reference')
                      ?.hasError('maxlength') &&
                    terminalForm.get('reference')?.touched
                  "
                >
                  {{ "terminal.maxRefError" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    terminalForm
                      .get('reference')
                      ?.hasError('minlength') &&
                  terminalForm.get('reference')?.touched
                  "
                >
                  {{ "terminal.minRefError" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    terminalForm
                      .get('reference')
                      ?.hasError('pattern') &&
                    terminalForm.get('reference')?.touched
                  "
                >
                  {{ "general.onlyNumbersAllowed" | translate }}
                </div>
             
              </div>


              
 
           
    </div>
    <div class="row w-100 mb-3">     
      <div class="col-6" >
        <div class="form-group input-form w-100">
          <ng-select
            [items]="branches | async"
            bindLabel="id"
            bindValue="name"
            formControlName="branchId"
            placeholder="{{ 'branch.branches' | translate }}"
            class="custom"
          >
          </ng-select>
        </div>
        <div
          class="text-danger"
          *ngIf="
            terminalForm.get('branchId')?.hasError('required') &&
             terminalForm.get('branchId')?.touched
          "
        >
          {{ "general.requiredField" | translate }}
      </div>
      </div>
      <div class="col-6" *ngIf="!isEditView">
      </div>
      <div *ngIf="isEditView" class="col-6">
        <div class="rounded-pill app-gray-color border-0 p-1 ps-2">
          <div
            class="form-check form-check-inline ps-4"
            *ngFor="let key of statusKeys; let i = index"
          >
            <input
              class="form-check-input"
              type="radio"
              formControlName="status"
              [checked]="terminalForm.get('status')?.value == key"
              [value]="key"
            />
            <label class="form-check-label">
              {{ "general." + status[+key] | lowercase | translate }}
            </label>
          </div>

        </div>
      </div>
    </div>

          
            
          </div>
        </form>
      </div>
      <div class="card-footer border-0 bg-white">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center closing-container">
            <a
              class="btn btn-block btn-sm app-gray-color rounded-pill mx-3"
              [routerLink]="['/terminal/terminal-list',accountId,merchantId]"
            >
              <span class="p-2">{{ "general.cancel" | translate }}</span>
            </a>
            <a
              class="btn btn-block btn-sm btn-search-bar text-white rounded-pill"
              (click)="onSave()"
            >
              <span class="p-2">{{ "general.save" | translate }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
