th {
    border-bottom-style: none;
    font-family: Airbnb Cereal App Bold !important;
    font-size: 14px !important;
  }
  
  tbody tr {
    background-color: #F6F6F6;
  }
  
  table {
    width: 100%;
    border-spacing: 0 20px !important;
    border-collapse: unset !important;
  }
  
  td.cell {
    border-bottom: 2px solid #F6F6F6;
    border-top: 2px solid #F6F6F6;
    background-color: #F6F6F6;
  }
  
 
  
  li.page-item {
    margin-right: 4px;
    margin-left: 4px;
  }
  
 
  
  .action-btn.dropdown-toggle::after {
    display: none !important;
  }
  
  .active-color {
    background-color: rgba(4, 134, 33, 0.1);
    color: #048621;
  }
  
  .inactive-color {
    background-color: #E9ECEF;
    color: #979797;
  }
  
  .dropdown-toggle::after {
    display: none !important;
  }

  @media (max-width: 400px){
    .pagination{
        margin: 15px;  
    }
  }
