<div class="row bg-white m-0 w-100">
  <div class="col-lg-12 col-md-12 col-sm-12 p-0 m-0">

    <app-nav-user (filterUsers)="applyUserFilter($event)">
    </app-nav-user>
  </div>
</div>

<div class="row mx-0" style="margin-top: 16px">
  <div class="mx-auto col-10 col-md-8 col-lg-4 rounded rounded-3 w-100 px-6">
    <div class="container-fluid rounded-3 bg-white p-3">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{{ "user.nameAr" | translate }}</th>
              <th>{{ "user.nameEn" | translate }}</th>
              <th>{{ "user.username" | translate }}</th>
              <th>{{ "user.email" | translate }}</th>
              <th>{{ "user.type" | translate }}</th>
              <th>{{ "general.status" | translate }}</th>
              <th>{{ "general.action" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users" (click)="viewUser(user)">
              <td class="cell">{{ user.nameAr }}</td>
              <td class="cell">{{ user.nameEn }}</td>
              <td class="cell">{{ user.username }}</td>
              <td class="cell">{{ user.email}}</td>
              <td class="cell">{{ user.typeString}}</td>

              <td class="cell">
                <span class="p-2 rounded-3" [ngClass]="user.status == 0 ? 'active-color' : 'inactive-color'">
                  {{ "general." + user.statusString | lowercase | translate }}
                </span>
              </td>
              <td class="cell" (click)="preventCellClick($event)">
                <div class="dropdown">
                  <button class="btn bg-transparent dropdown-toggle border-0 p-0" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <fa-icon [icon]="actionIcon" class="fa-lg"></fa-icon>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <button class="btn dropdown-item" (click)="updateUser(user.id)">
                        <fa-icon [icon]="updateIcon" class="app-pe-2"></fa-icon>
                        <span>{{ "general.update" | translate }}</span>
                      </button>
                    </li>
                    <li>
                      <button class="btn dropdown-item" (click)="openDeleteConfirmationModal(user.id)">
                        <fa-icon [icon]="deleteIcon" class="app-pe-2"></fa-icon>
                        <span>{{ "general.delete" | translate }}</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination class="justify-content-center" (pageChanged)="pageChanged($event)" [boundaryLinks]="true"
        [totalItems]="itemCount" [itemsPerPage]="paginatorPageSize" [(ngModel)]="paginatorPageNumber"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="this.tableMaxSize">
      </pagination>
    </div>
  </div>
</div>