<div class="modal-header p-4 pb-0">
    <h4 class="modal-title pull-left">{{ "" | translate }}</h4>
    <button type="button" class="btn-close rounded-circle app-gray-color" (click)="bsModalRef.hide()"
        aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="row mx-0">
        <div class="col-auto">
                <img [src]="qrcode" alt="qr code" width="470" height="470" style="margin-left:-12px">
                <div>
                      <button
                      class="btn btn-secondary" style="margin-left:177px"
                      (click)="downloadFile(qrcode)"><!--you are passing the url as file name, change it -->
                      <span>{{ "general.download" | translate }}</span>
                    </button>
                </div>
        </div>
    </div>
</div>
