<div class="modal-header p-4 pb-0">
    <h4 class="modal-title pull-left">{{ "plan.plan" | translate }}</h4>
    <button
      type="button"
      class="btn-close rounded-circle app-gray-color"
      (click)="bsModalRef.hide()"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body p-4">
    <div class="row h-100">
      <div class="col-lg-12 col-md-12 col-sm-12 overflow-auto">
        <div class="mb-4">
          <div class="row w-100">
            <div class="col-lg-6 mb-3">
              <div class="form-floating mt-3 form-group input-form">
                <span
                  class="form-control rounded-pill app-gray-color border-0 text-start"
                >
                  {{ this.currentData.name }}
                </span>
                <label  style="color: black;" for="name">{{
                  'plan.name' | translate}}:</label>
              </div>
            </div>
            <div class="col-lg-6 mb-3">
              <div class="form-floating mt-3 form-group input-form">
                <span
                  class="form-control input-height rounded-pill app-gray-color border-0 text-start"
                >
                  {{ this.currentData.price }}
                </span>
                <label  style="color: black;" for="price">{{
                  'general.price' | translate}}:</label>
              </div>
            </div>
          </div>
          <div class="row w-100">
            <div class="col-lg-6 mb-3">
              <div class="form-floating mt-3 form-group input-form">
                <span
                  class="form-control input-height rounded-pill app-gray-color border-0 text-start"
                >
                  {{ this.currentData.numberOfInvoiceB2C }}
                </span>
                <label  style="color: black;" for="numberOfInvoiceB2C">{{
                  'general.numberOfInvoiceB2C' | translate}}:</label>
              </div>
            </div>
            <div class="col-lg-6 mb-3">
              <div class="form-floating mt-3 form-group input-form">
                <span
                  class="form-control input-height rounded-pill app-gray-color border-0 text-start"
                >
                  {{ this.currentData.numberOfInvoiceB2B}}
                </span>
                <label  style="color: black;" for="numberOfInvoiceB2B">{{
                  'general.numberOfInvoiceB2B' | translate}}:</label>
              </div>
            </div>
          </div>
          <div class="row w-100">
            <div class="col-lg-6 mb-3">
              <div class="form-floating mt-3 form-group input-form">
                <span
                  class="form-control input-height rounded-pill app-gray-color border-0 text-start"
                >
                  {{ this.currentData.numberOfUser }}
                </span>
                <label  style="color: black;" for="numberOfUser">{{
                  'general.numberOfUser' | translate}}:</label>
              </div>
            </div>
            <div class="col-lg-6 mb-3">
              <div class="form-floating mt-3 form-group input-form">
                <span
                  class="form-control input-height rounded-pill app-gray-color border-0 text-start"
                >
                  {{ this.currentData.numberOfSubMerchant}}
                </span>
                <label  style="color: black;" for="numberOfUser">{{
                  'general.numberOfUser' | translate}}:</label>
              </div>
            </div>
          </div>


          <div class="row w-100">
            <div class="col-lg-6 mb-3">
              <div class="form-floating mt-3 form-group input-form">
                <span
                  class="form-control input-height rounded-pill app-gray-color border-0 text-start"
                >
                  {{ this.currentData.numberOfBranch }}
                </span>
                <label  style="color: black;" for="numberOfBranch">{{
                  'general.numberOfBranch' | translate}}:</label>
              </div>
            </div>
            <div class="col-lg-6 mb-3">
              <div class="form-floating mt-3 form-group input-form">
                <span
                  class="form-control input-height rounded-pill app-gray-color border-0 text-start"
                >
                  {{ this.currentData.numberOfTerminal }}
                </span>
                <label  style="color: black;" for="numberOfTerminal">{{
                  'general.numberOfTerminal' | translate}}:</label>
              </div>
            </div>
          </div>


          <div class="row w-100">
         
            <div class="col-lg-6 mb-3">
                <div class="form-floating mt-3 form-group input-form">
                  <span
                    class="form-control input-height rounded-pill app-gray-color border-0 text-start"
                  >
                    {{ this.currentData.expiryDate }}
                  </span>
                  <label  style="color: black;" for="expiryDate">{{
                    'general.expiryDate' | translate}}:</label>
                </div>
              </div>
              
            <div class="col-lg-6 mb-3">
              <div
                class="rounded-pill input-height app-gray-color border-0 p-1 ps-2 text-start"
              >
                <div
                  class="form-check form-check-inline ps-4"
                  *ngFor="let key of statusKeys; let i = index"
                >
                  <input
                    class="form-check-input"
                    type="radio"
                    disabled
                    [checked]="+this.currentData.status === +key"
                  />
                  <label class="form-check-label">
                    {{ "general." + status[+key] | lowercase | translate }}
                  </label>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mb-3"> </div>


        
         
          </div>
          <div class="row w-100"></div>
        </div>
      </div>
    </div>
  </div>
  
