
.form-floating > input:not(:focus):placeholder-shown + label {
    background: transparent;
    color: black;
  }
  
  .form-floating > input + label:after {
   background: transparent !important;
   color: black;
  }
  
  .form-floating > span:not(:focus):placeholder-shown + label {
    background: transparent;
    color: black;
  }
  
  .form-floating > span + label:after {
   background: transparent !important;
   color: black;
  }

  label{
    right: 0;

  }