.ng-select.custom {
    .ng-select-container
{
  border: 0;
  border-radius: 50rem !important;
  background-color: #F6F6F6 !important;
  .ng-value-container{
padding-left: 35px;
                     }
}
.ng-dropdown-panel {
  border-radius: 0.5rem;
  padding: 0.50rem;
  .ng-dropdown-panel-items .ng-option{
  border-radius: 50rem;
  background: #F6F6F6;
  margin-bottom: 0.50rem;
}
}
}

.ng-select.ng-invalid.ng-touched {
  .ng-select-container
{
  border: 1px solid red !important;
}
}

.input-form .form-control {
  padding-left: 2.375rem;
}

.input-form .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.1rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.card-height {
  height: 85vh;
}
input.ng-touched.ng-invalid {
  border: 1px solid red !important;
}

.point-card {
  overflow-y: hidden;
}

@media only screen and (max-height: 900px) {
  .point-card {
    overflow-y: scroll;
  }
}