<div class="row h-100 mx-6 mt-3">
    <div class="col-lg-2 col-md-4 col-sm-6 h-100 p-0 app-pe-4 d-none d-lg-block">
      <div class="card card-height border-0 p-4 bg-white rounded-3 shadow-sm">
        <h5>Learn how to add new Point Records</h5>
        <div class="card-body"><app-temp-info></app-temp-info></div>
      </div>
    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 p-0">
      <div class="card bg-white border-0 rounded-3 shadow-sm
           card-height point-card p-4">
        <div class="card-title mb-4">
          {{ 'balance.balanceHistory' | translate }}
        </div>
        <div class="card-body">
          <form [formGroup]="pointForm" autocomplete="off">
            <div class="mb-4">
              <div class="row w-100">
                <div class="col-lg-6 mb-3">
                  <div class="form-group input-form">
                    <input type="number"
                    min="0"
                    class="form-control rounded-pill
                    app-gray-color border-0"
                    formControlName="balance"
                    autocomplete="off"
                    placeholder="{{ 'balance.balance' | translate }}">
                  </div>
                  <div class="text-danger" *ngIf="
                    pointForm.get('balance')?.hasError('required') &&
                    (submitted || pointForm.get('balance')?.touched)
                  ">
                  {{ "general.requiredField" | translate }}
                </div>
                </div>
                <div class="col-lg-6 mb-3">
                  <div class="form-group input-form">
                    <input
                      type="date"
                      class="form-control rounded-pill app-gray-color border-0"
                      formControlName="expiryDate"
                      placeholder="{{'balance.expiryDate' | translate}}"
                    />
                  </div>
                  <div class="text-danger" *ngIf="
                    pointForm.get('expiryDate')?.hasError('required') &&
                    (submitted || pointForm.get('expiryDate')?.touched)
                  ">
                  {{ "general.requiredField" | translate }}
                </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer border-0 bg-white">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center closing-container">
              <a class="btn btn-block btn-sm app-gray-color rounded-pill mx-3"
                 [routerLink]="['/balance/balance-list', accountId, merchantId]">
                <span class="p-2">{{ 'general.cancel' | translate }}</span>
              </a>
              <a class="btn btn-block btn-sm btn-search-bar text-white rounded-pill"
                 (click)="onSave()">
                <span class="p-2">{{ 'general.save' | translate }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>