a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
*/
.img-logo {
  width: 40px;
  height: 40px;
}

.active {
  background-color: #F6F6F6;
  border-radius: 5px;
}

.navbar-brand {
  word-break: normal !important;
}

::ng-deep .btn:focus,
.btn:active {
  box-shadow: none !important;
  outline: none !important;
}

::ng-deep .btn:first-child:active {
  border-color: transparent;
}

.nav-item.account-btn button, a.nav-link, a.model-link {
  font-family: 'Airbnb Cereal App Bold';
  font-size: 14px;
  line-height: 18px;
}

.nav-item.account-btn {
  padding: 4px 12px !important;
}

@media only screen and (min-width: 1400px) {
  .nav-height {
    height: 80px !important;
   
  }
}


@media (max-width: 400px){
  .navbar-toggler{
   margin-right: 130px;
   
  }
}


@media (max-width: 400px){
  img{
      margin-top: -10px;
  }
}

@media (max-width: 400px){
  svg{
    margin-top: -90px;
    margin-left: 5px;
  }
}


@media (max-width: 400px){
  .account-btn{
    margin-top: 25px;
    margin-left: 60px;

  }
}









li a {
  text-align: center !important;
/*  padding: 4px 12px !important;*/
}

.navbar-collapse.show {
  padding-top: 0.5rem;
}

.more-link {
  color: #FF6D00;
}

  .more-link:hover {
    background: #FFE9D9;
  }

.model-link {
  text-align: center !important;
 /* padding: 4px 12px !important;*/
  text-decoration: none;
}
.model-link-container {
  background: #F6F6F6 !important;
}
.model-link-container:has(.model-link.active) {
  background: #FFE9D9 !important;
}
.model-link.active {
  color: #FF6D00 !important;
  background: transparent !important;
}
.more-modal.modal-dialog {
  width: 350px;
}


