<header>
  <nav class="p-4 navbar navbar-expand-xxl navbar-light bg-white border-bottom nav-height">
    <div class="container-fluid p-0">
      <a class="navbar-brand py-0 m-0 app-pe-5">
        <img src="../../assets/logo/nav_logo.png" alt="logo" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="navbar-nav app-me-auto mb-2 mb-lg-0">
          <li class="nav-item app-pe-4" *ngIf=isSystemAdmin >
            <a [routerLink]="['/account/account-list',accountId]" routerLinkActive="active" class="nav-link link-dark"
              data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
              {{ 'account.accounts' | translate }}
            </a>
          </li>

          <li class="nav-item app-pe-4" >
            <a [routerLink]="['/echarts',accountId,merchantId]" routerLinkActive="active" class="nav-link link-dark"
              data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">

              {{ 'echarts.echarts' | translate }}
            </a>
          </li>
          <li class="nav-item app-pe-4" *ngIf=isSystemAdmin>
            <a [routerLink]="['/plan/plan-list',accountId]" routerLinkActive="active" class="nav-link link-dark"
              data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">

              {{ 'plan.plans' | translate }}
            </a>
          </li>
          <li class="nav-item app-pe-4" *ngIf=isSystemAdmin>
            <a [routerLink]="['/balance/balance-list',accountId,merchantId]" routerLinkActive="active" class="nav-link link-dark"
              data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
              {{ 'balance.balanceHistory' | translate }}
            </a>
          </li>
          <li class="nav-item app-pe-4" *ngIf=!isMerchantAdmin>
            <a [routerLink]="['/merchant/merchant-list', accountId]" routerLinkActive="active"
              class="nav-link link-dark" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">

              {{ 'merchant.merchants' | translate }}
            </a>
          </li>
          <li class="nav-item app-pe-4">
            <a [routerLink]="['/branch/branch-list',accountId,merchantId]" routerLinkActive="active"
              class="nav-link link-dark" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">

              {{ 'branch.branches' | translate }}
            </a>
          </li>

          <li class="nav-item app-pe-4">
            <a [routerLink]="['/terminal/terminal-list',accountId,merchantId]" routerLinkActive="active"
              class="nav-link link-dark" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">

              {{ 'terminal.terminals' | translate }}
            </a>
          </li>
          <li class="nav-item app-pe-4">
            <a [routerLink]="['/user/user-list',accountId,merchantId]" routerLinkActive="active"
              class="nav-link link-dark" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">

              {{ 'user.users' | translate }}
            </a>
          </li>

          <li class="nav-item app-pe-4">
            <a [routerLink]="['/invoice', accountId, merchantId]" routerLinkActive="active" class="nav-link link-dark"
              data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">

              {{ 'invoice.invoices' | translate }}
            </a>
          </li>

          <li class="nav-item app-pe-4">
            <a [routerLink]="['/bulkupload', accountId, merchantId]" routerLinkActive="active" class="nav-link link-dark"
              data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">

              {{ 'bulkupload.bulkupload' | translate }}
            </a>
          </li>


          <li class="nav-item app-pe-4" *ngIf=isSystemAdmin>
            <a [routerLink]="['/monitor/monitor-list', accountId, merchantId]" routerLinkActive="active"
              class="nav-link link-dark" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">

              {{ 'monitor.monitors' | translate }}
            </a>
          </li>
          <li class="nav-item app-pe-4">
            <a [routerLink]="['/exportedInvoices', accountId, merchantId]" routerLinkActive="active"
              class="nav-link link-dark" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">

              {{ 'exportedInvoice.exportedInvoices' | translate }}
            </a>
          </li>
          <!-- <li class="nav-item" *ngIf="isSystemAdmin||isAccountAdmin||isStationManager">
            <a class="nav-link more-link rounded" data-bs-toggle="modal"
               data-bs-target="#moreModal">
            {{ 'general.more' | translate }}
              <fa-icon [icon]="downArrowIcon"></fa-icon>
            </a>
          </li> -->
        </ul>

      </div>

      <div class="d-flex">
        <div class="account">
        <button *ngIf="isSystemAdmin || isAccountAdmin" class="btn
                      app-gray-color
                      account-btn
                      rounded-3
                  app-me-3" (click)="openAccountModal()">
          {{accountName}} | {{merchantName}}
        </button>
      </div>
        
        <button class="btn rounded-circle p-0" (click)="openProfileModal()">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="20" cy="20" r="20" fill="#FF6D00" />
            <path
              d="M24.1675 26.9622C16.4778 26.9622 12.0001 22.1822 12.0001 16.8731C12.0001 14.1147 13.0959 13 15.3065 13H26.6992L27.3227 15.7018H16.1944C15.4576 15.7018 15.2876 16.004 15.2876 16.9676C15.2876 19.8583 17.6492 24.2982 24.3942 24.2982H27.7194L27.0959 27H24.1675V26.9622Z"
              fill="white" />
          </svg>
        </button>

      </div>

    </div>
  </nav>
</header>