<div class="row row-cols-sm-auto">
  <div class="col-12">
    <div class="dp-hidden position-absolute">
      <div class="input-group">
        <input name="datepicker"
               type="hidden"
               class="form-control"
               ngbDatepicker
               #datepicker="ngbDatepicker"
               [ngModel]="date"
               (dateSelect)="onDateSelection($event)"
               outsideDays="hidden"
               placement="auto"
               container="body"
               [positionTarget]="buttonEl"
               tabindex="-1" />
      </div>
    </div>
    <div class="input-group">
      <button #buttonEl class="btn rounded-circle app-gray-color border-0"
              (click)="datepicker.toggle()" type="button">
        <fa-icon [icon]="calendarIcon"></fa-icon>
      </button>
    </div>
  </div>
</div>
