<div *ngIf="this.loader.getLoading()" class="cssload-container">
  <div class="spinner-border text-secondary cssload-speeding-wheel" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="cssload-speeding-wheel"></div>
</div>
