/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import 'ngx-toastr/toastr';

@font-face {
  font-family: "Airbnb Cereal App";
  src: local("Airbnb Cereal App"), url(/assets/fonts/AirbnbCerealBook.ttf) format("truetype");
}

@font-face {
  font-family: "Airbnb Cereal App Bold";
  src: local("Airbnb Cereal App Bold"), url(/assets/fonts/AirbnbCerealBold.ttf) format("truetype");
}

@font-face {
  font-family: "Airbnb Cereal App Medium";
  src: local("Airbnb Cereal App Medium"), url(/assets/fonts/AirbnbCerealMedium.ttf) format("truetype");
}

body, span, .mat-mdc-cell, button, ::placeholder, .mdc-button, a.btn-search-bar, .toast-container .toast-message {
  font-family: 'Airbnb Cereal App' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

.mat-mdc-header-cell, .modal-title, .account-btn {
  font-family: 'Airbnb Cereal App Bold' !important;
  font-size: 14px !important;
}

.mat-mdc-card-title, .text-title, .toast-container .toast-title, .card-title {
  font-family: 'Airbnb Cereal App Bold' !important;
  font-size: 16px !important;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  background-color: #F4F9FF !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  /*  font-family: 'Airbnb Cereal App';*/
}

:root {
  --success-color: #198754;
  --error-color: red;
}

button.mat-menu-item {
  display: flex !important;
  flex-direction: row !important;
}

.btn-search-bar {
  background-color: #FF6700 !important;
}

.bg-orange-color {
  background-color: #FF6700 !important;
}

.app-gray-color {
  background-color: #F6F6F6 !important;
}

input.ng-touched.ng-invalid {
  border: 1px solid red !important;
}

.filter-menu-padding {
  padding: 12px !important;
}

.new-export-container button {
  height: 37px !important;
  min-width: 100px !important;
}

.px-6 {
  padding-right: 20px;
  padding-left: 20px;
}

.mx-6 {
  margin-right: 20px;
  margin-left: 20px;
}

.mat-elevation-z8 {
  box-shadow: none !important;
}

.new-export-container .dropdown .dropdown-item:active {
  color: black !important;
}

.date-field .mat-mdc-form-field-infix {
  display: none !important;
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  padding-left: 0 !important;
}

.status-btn-focus {
  background-color: black;
  color: white;
}

.modal-content, .modal-header {
  border: 0;
}

th {
  border-bottom-style: none;
  font-family: Airbnb Cereal App Bold !important;
  font-size: 14px !important;
}

tbody tr {
  background-color: #F6F6F6;
}

table {
  width: 100%;
  border-spacing: 0 20px !important;
  border-collapse: unset !important;
}

td.cell {
  border-bottom: 2px solid #F6F6F6;
  border-top: 2px solid #F6F6F6;
  background-color: #F6F6F6;
}

.pagination .page-link {
  border-style: none !important;
  border-radius: 50%;
}

li.page-item {
  margin-right: 4px;
  margin-left: 4px;
}

.pagination-first .page-link, .pagination-last .page-link,
.pagination-next .page-link, .pagination-prev .page-link {
  color: black !important;
  font-family: 'Airbnb Cereal App Bold' !important;
}
.pagination-first .page-link, .pagination-last .page-link {
  border-radius: 50% !important;
}

.action-btn.dropdown-toggle::after {
  display: none !important;
}

.closing-container a span {
  font-family: 'Airbnb Cereal App' !important;
  font-size: 16px !important
}

.bs-datepicker {
  border-radius: 5px !important;
}

/*@media only screen and (max-width: 576px) {
  bs-daterangepicker-container, .bs-datepicker, .bs-datepicker-container {
    width: 100%
  }
}*/
.ng-select.custom .ng-select-container {
  border: 0;
  border-radius: 50rem !important;
  background-color: #F6F6F6 !important;
}

.ng-select.custom .ng-select-container .ng-value-container {
    padding-left: 35px;
  }

.ng-dropdown-panel.custom.ng-select-bottom {
  border-radius: 0.5rem;
  padding: 0.50rem;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  border-radius: 50rem !important;
  background: #F6F6F6;
  margin-bottom: 0.50rem;
}
