<div class="modal-header p-4 pb-0">
    <h4 class="modal-title pull-left">{{ "branch.branch" | translate }}</h4>
    <button
      type="button"
      class="btn-close rounded-circle app-gray-color"
      (click)="bsModalRef.hide()"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body p-4">
    <div class="row h-100">
      <div class="col-lg-12 col-md-12 col-sm-12 overflow-auto">
        <div class="mb-4">
          <div class="row w-100">
            <div class="col-lg-6 mb-3">
              <div class="form-floating mt-3 form-group input-form">
                <span
                  class="form-control rounded-pill app-gray-color border-0 text-start"
                >
                  {{ this.currentData.nameAr }}
                </span>
                <label  style="color: black;" for="nameAr">{{
                  'general.nameAr' | translate}}:</label>
              </div>
            </div>
            <div class="col-lg-6 mb-3">
              <div class="form-floating mt-3 form-group input-form">
                <span
                  class="form-control input-height rounded-pill app-gray-color border-0 text-start"
                >
                  {{ this.currentData.nameEn }}
                </span>
                <label  style="color: black;" for="nameEn">{{
                  'general.nameEn' | translate}}:</label>
              </div>
            </div>
          </div>
          <div class="row w-100">
            <div class="col-lg-6 mb-3">
              <div class="form-floating mt-3 form-group input-form">
                <span
                  class="form-control input-height rounded-pill app-gray-color border-0 text-start">
                  {{ this.currentData.number }}
                </span>
                <label  style="color: black;" for="number">{{'general.number' | translate}}:</label>
              </div>
            </div>
            <div class="col-lg-6 mb-3">
              <div class="form-floating mt-3 form-group input-form">
                <span
                  class="form-control input-height rounded-pill app-gray-color border-0 text-start"
                >
                  {{ this.currentData.city }}
                </span>
                <label  style="color: black;" for="city">{{
                  'general.city' | translate}}:</label>
              </div>
            </div>
          </div>



          <div class="row w-100">
            <div class="col-lg-6 mb-3">
              <div class="form-floating mt-3 form-group input-form">
                <span
                  class="form-control input-height rounded-pill app-gray-color border-0 text-start"
                >
                  {{ this.currentData.buildingName}}
                </span>
                <label  style="color: black;" for="buildingName">{{
                  'general.buildingName' | translate}}:</label>
              </div>
            </div>
            <div class="col-lg-6 mb-3">
              <div class="form-floating mt-3 form-group input-form">
                <span
                  class="form-control input-height rounded-pill app-gray-color border-0 text-start"
                >
                  {{ this.currentData.streetName}}
                </span>
                <label  style="color: black;" for="streetName">{{
                  'general.streetName' | translate}}:</label>
              </div>
            </div>
          </div>

          <div class="row w-100">
            <div class="col-lg-6 mb-3">
              <div class="form-floating mt-3 form-group input-form">
                <span
                  class="form-control input-height rounded-pill app-gray-color border-0 text-start"
                >
                  {{ this.currentData.additionalNumber}}
                </span>
                <label  style="color: black;" for="additionalNumber">{{
                  'general.additionalNumber' | translate}}:</label>
              </div>
            </div>
            <div class="col-lg-6 mb-3">
              <div class="form-floating mt-3 form-group input-form">
                <span
                  class="form-control input-height rounded-pill app-gray-color border-0 text-start"
                >
                  {{ this.currentData.citySubDivision }}
                </span>
                <label  style="color: black;" for="citySubDivision">{{
                  'general.citySubDivision' | translate}}:</label>
              </div>
            </div>
          </div>

          
          <div class="row w-100">
            <div class="col-lg-6 mb-3">
              <div class="form-floating mt-3 form-group input-form">
                <span
                  class="form-control input-height rounded-pill app-gray-color border-0 text-start"
                >
                  {{ this.currentData.countrySubentity}}
                </span>
                <label  style="color: black;" for="countrySubentity">{{
                  'general.countrySubentity' | translate}}:</label>
              </div>
            </div>
            <div class="col-lg-6 mb-3">
              <div class="form-floating mt-3 form-group input-form">
                <span
                  class="form-control input-height rounded-pill app-gray-color border-0 text-start"
                >
                  {{ this.currentData.zipCode}}
                </span>
                <label  style="color: black;" for="zipCode">{{
                  'general.zipCode' | translate}}:</label>
              </div>
            </div>
          </div>

        
          <div class="row w-100">


            <div class="col-lg-6 mb-3">
              <div class="form-floating mt-3 form-group input-form">
                <span
                  class="form-control input-height rounded-pill app-gray-color border-0 text-start"
                >
                  {{ this.currentData.reference }}
                </span>
                <label  style="color: black;" for="reference">{{
                  'general.reference' | translate}}:</label>
              </div>
            </div>

            
            <div class="col-lg-6 mb-3">
              <div class="form-floating mt-3 form-group input-form">
                <span
                  class="form-control input-height rounded-pill app-gray-color border-0 text-start"
                >
                  {{ this.currentData.buildingNumber }}
                </span>
                <label  style="color: black;" for="buildingNumber">{{
                  'general.buildingNumber' | translate}}:</label>
              </div>
            </div>


</div>
<div class="row w-100">

  <div class="col-lg-6 mb-3">
    <div class="form-floating mt-3 form-group input-form">
      <span
        class="form-control input-height rounded-pill app-gray-color border-0 text-start"
      >
        {{ this.currentData.saudiNationalAddress }}
      </span>
      <label  style="color: black;" for="saudiNationalAddress">{{
        'general.saudiNationalAddress' | translate}}:</label>
    </div>
  </div>


            <div class="col-lg-6 mb-3">
              <div
                class="rounded-pill input-height app-gray-color border-0 p-1 ps-2 text-start"
              >
                <div
                  class="form-check form-check-inline ps-4"
                  *ngFor="let key of statusKeys; let i = index"
                >
                  <input
                    class="form-check-input"
                    type="radio"
                    disabled
                    [checked]="+this.currentData.status === +key"
                  />
                  <label class="form-check-label">
                    {{ "general." + status[+key] | lowercase | translate }}
                  </label>
                </div>
              </div>
            </div>



          </div>
          <div class="row w-100"></div>
        </div>
      </div>
    </div>
  </div>
  