<div class="modal-header p-4 pb-0">
  <h4 class="modal-title pull-left">{{ "merchant.merchant" | translate }}</h4>
  <button
    type="button"
    class="btn-close rounded-circle app-gray-color"
    (click)="bsModalRef.hide()"
    aria-label="Close"
  ></button>
</div>
<div class="modal-body p-4">
  <div class="row h-100">
    <div class="col-lg-12 col-md-12 col-sm-12 overflow-auto">
      <div class="mb-4">
        <div class="row w-100">
          <div class="col-lg-6 mb-3">
            <div  class="form-floating mt-3 form-group input-form">
              <span
                class="form-control rounded-pill app-gray-color border-0 text-start"
              >
                {{ this.currentData.nameAr }}
              </span>
              <label  style="color: black;" for="nameAr">{{
                'general.nameAr' | translate}}:</label>
            </div>
          </div>
          <div class="col-lg-6 mb-3">
            <div  class="form-floating mt-3 form-group input-form">
              <span
                class="form-control input-height rounded-pill app-gray-color border-0 text-start"
              >
                {{ this.currentData.nameEn }}
              </span>
              <label  style="color: black;" for="nameEn">{{
                'general.nameEn' | translate}}:</label>
            </div>
          </div>
        </div>
        <div class="row w-100">
          <div class="col-lg-6 mb-3">
            <div  class="form-floating mt-3 form-group input-form">
              <span
                class="form-control input-height rounded-pill app-gray-color border-0 text-start"
              >
                {{ this.currentData.vatRegistrationNumber }}
              </span>
              <label  style="color: black;" for="vatRegistrationNumber">{{
                'general.vatRegistrationNumber' | translate}}:</label>
            </div>
          </div>
          <div class="col-lg-6 mb-3">
            <div  class="form-floating mt-3 form-group input-form">
              <span
                class="form-control input-height rounded-pill app-gray-color border-0 text-start"
              >
                {{ this.currentData.commerialRegisterationNumber }}
              </span>
              <label  style="color: black;" for="commerialRegisterationNumber ">{{
                'general.commerialRegisterationNumber' | translate}}:</label>
            </div>
          </div>
        </div>
        <div class="row w-100">
          <div class="col-lg-6 mb-3">
            <div  class="form-floating mt-3 form-group input-form">
              <span
                class="form-control input-height rounded-pill app-gray-color border-0 text-start"
              >
                {{ this.currentData.businessCategoryAr }}
              </span>
              <label  style="color: black;" for="businessCategoryAr">{{
                'general.businessCategoryAr' | translate}}:</label>
            </div>
          </div>
          <div class="col-lg-6 mb-3">
            <div  class="form-floating mt-3 form-group input-form">
              <span
                class="form-control input-height rounded-pill app-gray-color border-0 text-start"
              >
                {{ this.currentData.businessCategoryEn }}
              </span>
              <label  style="color: black;" for="businessCategoryEn">{{
                'general.businessCategoryEn' | translate}}:</label>
            </div>
          </div>
        </div>

        <div class="row w-100">
          <div class="col-lg-6 mb-3">
            <div  class="form-floating mt-3 form-group input-form">
              <span
                class="form-control input-height rounded-pill app-gray-color border-0 text-start">
                {{ this.currentData.clientId }}
                <button
                class="btn rounded-circle app-gray-color border-0" (click)="copyContent()">
                <fa-icon class="px-2"  [icon]="copyIcon"></fa-icon>
              </button>
              </span>
               <label  style="color: black;" for="clientId">{{
                'general.clientId' | translate}}:</label>
            </div>
         
          </div>
          <div class="col-lg-6 mb-3">
            <div  class="form-floating mt-3 form-group input-form">
              <span
                class="form-control input-height rounded-pill app-gray-color border-0 text-start">
                {{ this.currentData.clientSecret }}
                <button
                  class="btn rounded-circle app-gray-color border-0"  (click)="copyContentt()" >
              <fa-icon class="px-2" [icon]="copyIcon"></fa-icon> 
              </button>
              </span>
              <label  style="color: black;" for="clientSecret">{{
                'general.clientSecret' | translate}}:</label>
            </div>
          </div>
        </div>



        <div class="row w-100">
          <div class="col-lg-6 mb-3">
            <div
              class="rounded-pill input-height app-gray-color border-0 p-1 ps-2 text-start"
            >
              <div
                class="form-check form-check-inline ps-4"
                *ngFor="let key of statusKeys; let i = index"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  disabled
                  [checked]="+this.currentData.status === +key"
                />
                <label class="form-check-label">
                  {{ "general." + status[+key] | lowercase | translate }}
                </label>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-3">
            <div
              class="rounded-pill input-height app-gray-color border-0 p-1 ps-2 text-start"
            >
              <div class="form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [checked]="this.currentData.canIssueSimplifiedInvoice"
                  disabled
                />
                <label class="form-check-label px-2">
                  {{ "merchant.canIssueSimplifiedInvoice" | translate }}
                </label>
              </div>
              <div class="form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [checked]="this.currentData.canIssueStandardInvoice"
                  disabled
                />
   
              </div>
            </div>
          </div>
        </div>

        <div class="row w-100">
          <div class="col-6">
            <div class="form-group input-form rounded-pill app-gray-color pe-2 mx-0">
              <div class="p-1 pt-2 ps-2">
                <div class="form-check form-switch">
                  <label class="form-check-label" for="balanceEnabledSwitch">
                    {{ 'merchant.balanceEnabled' | translate }}
                  </label>
                  <input class="form-check-input"
                         type="checkbox"
                         disabled
                         role="switch"
                         id="balanceEnabledSwitch"
                         [checked]="this.currentData.balanceEnabled">
                </div>
              </div>
            </div>
          </div>


          <div class="col-6">
            <div class="form-group input-form rounded-pill app-gray-color pe-2 mx-0">
              <div class="p-1 pt-2 ps-2">
                <div class="form-check form-switch">
                  <label class="form-check-label" for="createPdfSwitch">
                    {{ 'merchant.createPdf' | translate }}
                  </label>
                  <input class="form-check-input"
                         type="checkbox"
                         disabled
                         role="switch"
                         id="createPdfSwitch"
                         [checked]="this.currentData.createPdf">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row w-100">
          <div class="col-lg-6 mb-3">
            <div  class="form-floating mt-3 form-group input-form">
              <span
                class="form-control input-height rounded-pill app-gray-color border-0 text-start">
                {{ this.currentData.groupTIN}}
              </span>
              <label class="form-check-label px-2">
                {{ "merchant.groupTIN" | translate }}
              </label>
            </div>
          </div>
          
     

        </div>
      </div>
    </div>
  </div>
</div>
