<div class="modal-header d-block border-0">
  <div class="d-flex flex-row">
    <button type="button" class="btn-close rounded-circle" (click)="onAccountModelClose()" aria-label="Close"></button>
  </div>
</div>
<div class="modal-body px-2">
  <div class="row" *ngIf="isSystemAdmin">
    <h6 class="modal-title mb-2">{{'account.account' | translate}}</h6>
    <div class="custom-scrollbar-css account-container ">
      <div *ngFor="let accountRow of accounts | async | chunk: 2"
           class="row mb-3">
        <div class="col-6" *ngFor="let account of accountRow">
          <div [ngClass]="(selectedAccount === account.id)? 'account-selected' : 'app-gray-color'"
               (click)="onAccountSelect(account.id)"
               class="rounded-pill border-0 p-2 text-center">
            <span>{{account.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row custom-scrollbar-css merchant-container">
    <h6 class="modal-title mb-2">{{'merchant.merchant' | translate}}</h6>
    <div class="col-lg-12">
      <div *ngFor="let merchantRow of merchants | async | chunk: 2"
           class="row mb-3">
        <div class="col-6" *ngFor="let merchant of merchantRow">
          <div [ngClass]="(selectedMerchant === merchant.id)? 'merchant-selected' : 'app-gray-color'"
               (click)="onMerchantSelect(merchant.id)"
               class="rounded-pill border-0 p-2 text-center">
            <span>{{merchant.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row px-3">
    <button class="btn bg-orange-color text-white"
            (click)="onAccountChange()">
      {{'general.continue' | translate}}
    </button>
  </div>
</div>
