.account-selected, .merchant-selected {
  background: #FFE9D9;
  color: #FF6D00;
}
.custom-scrollbar-css {
  overflow-y: auto;
  overflow-x: hidden;
}

  .custom-scrollbar-css::-webkit-scrollbar {
    width: 5px;
  }

  .custom-scrollbar-css::-webkit-scrollbar-track {
    background: #eee;
  }

  .custom-scrollbar-css::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: gray;
  }

.account-container {
  height: 45%;
}
.merchant-container {
  height: 250px;
}
::ng-deep .modal-content {
  padding: 0.5rem !important;
}
