<div class="row flex-nowrap overflow-x-auto filter-menu-padding">
  <div class="col-auto">
    <app-date-picker [isCleared]="$isCleared" (dateChange)="onDateChange($event)"></app-date-picker>
  </div>
    <div class="col-md-4 me-auto">
      <div class="btn-group">
        <button type="button"
                class="btn btn-light rounded-pill gray-text-color"
                (click)="clearForm()">
          {{ 'general.clear' | translate }}
        </button>
      </div>
    </div>
  
  
    <div class="col-md-2 d-flex justify-content-end">
      <div class="btn-group">
      <div>
        <a class="btn btn-search-bar text-white rounded-pill"
        [routerLink]="['/balance/balance-add',accountId, merchantId]">
          {{ 'general.addNew' | translate }}
        </a>
      </div>
      </div>
    </div>
  </div>