<div class="d-flex filter-menu-padding">
  <div class="me-auto w-100">
    <form [formGroup]="filterForm">
      <div class="row w-100 m-0">
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 p-0 app-pe-3">
          <div class="form-group input-form">
            <span class="form-control-feedback">
              <fa-icon [icon]="searchIcon"></fa-icon>
            </span>
            <input type="text" class="form-control
                     rounded-pill
                     app-gray-color
                     border-0" placeholder="{{ 'general.searchByReferenceId' | translate }}"
              formControlName="referenceId" (keyup.enter)="onInvoiceSearchbyReferenceId($event)">
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 p-0 app-pe-3">
          <div class="form-group input-form w-100">
            <ng-select [items]="branches | async" bindLabel="id" bindValue="name" formControlName="selectedBranch"
              placeholder="{{ 'branch.branches' | translate }}" (change)="onSave()" appendTo="body" class="custom">
            </ng-select>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p-0 app-pe-3">
          <div class="form-group input-form w-100">
            <span class="form-control-feedback">
              <app-grade-icon></app-grade-icon>
            </span>
            <ng-select [items]="terminals | async" bindLabel="name" bindValue="id" formControlName="selectedTerminal"
              placeholder="{{ 'terminal.terminals' | translate }}" (change)="onSave()" appendTo="body" class="custom">
            </ng-select>
          </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p-0 app-pe-3">
          <div class="form-group input-form" id="invonumber">
            <span class="form-control-feedback">
              <app-number-icon></app-number-icon>
            </span>
            <input type="number" class="form-control
                     rounded-pill
                     app-gray-color
                     border-0" placeholder="{{ 'invoice.invoiceNumber' | translate }}" formControlName="invoiceNumber"
              (keyup.enter)="onSave()">
          </div>
        </div>

        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p-0 app-pe-3">
          <div class="form-group input-form" id="invotype">
            <ng-select formControlName="type" placeholder="{{ 'invoice.type' | translate }}" (change)="onSave()"
              appendTo="body" class="custom">
              <ng-option *ngFor="let type of invoiceTypeKeys" [value]="+type">
                {{ 'invoice.'+invoiceType[+type] | lowercase | translate }}
              </ng-option>
            </ng-select>
          </div>
        </div>

        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p-0 app-pe-3">
          <div class="form-group input-form" id="repostatus">
            <ng-select formControlName="reportingStatus" placeholder="{{ 'invoice.status' | translate }}" (change)="onSave()"
              appendTo="body" class="custom">
              <ng-option *ngFor="let reportingStatus of repoStatusKeys " [value]="+reportingStatus">
                {{ 'invoice.'+repoStatus[+reportingStatus] | lowercase | translate }}
              </ng-option>
            </ng-select>
          </div>
        </div>
        
        <div class="col-sm-auto p-0 app-pe-3" id="time">
          <app-date-time-picker [isCleared]="$isCleared" (dateChange)="onDateChange($event)"></app-date-time-picker>
        </div>

        <div class="col-sm-auto p-0">
          <button type="button" class="btn rounded-pill app-gray-color" 
          title="export excel"
          (click)="exportExcel()">
            <fa-icon [icon]="excelIcon"></fa-icon>
          </button>
        </div>

        <div class="col-sm-auto p-0">
          <button type="button" class="btn rounded-pill mx-2 app-gray-color" (click)="emitClearFilter()">
            {{ 'general.clear' | translate }}
          </button>
        </div>

        
      </div>
    </form>
  </div>
</div>