<div class="modal-header d-block" id="">
  <div class="d-flex flex-row">
    <h6 class="modal-title"  style="white-space: pre">{{'account.changepassword' | translate}}</h6>
    <button type="button" class="btn-close rounded-circle" (click)="onProfileModelClose()" aria-label="Close"></button>
  </div>
</div>

<div class="">
  <div class="col-lg-6 bg-white">
    <div class="row align-items-center">
      <div class="mx-auto col-lg-6 col-md-8 col-lg-4">
        <form [formGroup]="UpdatePasswordForm" (ngSubmit)="changesPassword()">
        

          <div class="mb-3">
            <label for="oldPassword" style="white-space: pre" class="form-label">
              {{ 'general.oldPassword'  | translate }}
            </label>
            <input formControlName="oldPassword" type="password" class="form-control" id="oldPassword" required>
            <span class="text-danger" *ngIf="UpdatePasswordForm.get('oldPassword')?.hasError('required') && UpdatePasswordForm.get('oldPassword')?.touched
              || (submitted && UpdatePasswordForm.get('oldPassword')?.hasError('required'))">
              {{ 'general.requiredField' | translate }}
            </span>
          </div>


          <div class="mb-3">
            <label for="newPassword"  style="white-space: pre"  class="form-label">
              {{ 'general.newPassword' | translate }}
            </label>
            <input formControlName="newPassword" type="password" class="form-control" id="newPassword" required>
            <span class="text-danger" *ngIf="UpdatePasswordForm.get('newPassword')?.hasError('required') && UpdatePasswordForm.get('newPassword')?.touched
              || (submitted &&  UpdatePasswordForm.get('newPassword')?.hasError('required'))">
              {{ 'general.requiredField' | translate }}
            </span>
          </div>


          <div class="mb-3">
            <label  for="confirmPassword"  style="white-space: pre"  class="form-label">
              {{ 'general.confirmPassword' | translate }}
            </label>
            <input  formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword" required >
            <span class="text-danger" *ngIf="UpdatePasswordForm.get('confirmPassword')?.hasError('required') && UpdatePasswordForm.get('confirmPassword')?.touched
              || (submitted &&  UpdatePasswordForm.get('confirmPassword')?.hasError('required')) " >
              {{ 'general.requiredField' | translate }}
            </span>
          </div>


          <div class="text-danger mb-2" style="white-space: pre" *ngIf="(UpdatePasswordForm.get('confirmPassword')?.valid && UpdatePasswordForm.hasError('notSame'))">
            {{ 'general.newPasswordsNotEqual' | translate }}
          </div>
          <div class="text-danger mb-2"  style="white-space: pre" *ngIf="(UpdatePasswordForm.get('newPassword')?.valid && UpdatePasswordForm.hasError('samePassword'))">
            {{ 'general.newPasswordEqualOld' | translate }}
          </div>


          
    

     


          <div class="mb-3">
            <div class="alert alert-danger" *ngIf="error">
              <p class="m-0">{{ error }}</p>
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-block btn-bg btn-search-bar text-white rounded-pill">
              {{ 'login.submit' | translate }}
            </button>
          </div>



        </form>
      </div>
    </div>
  </div>
</div>